In [16]:
import pandas as pd
from sqlalchemy import create_engine

In [22]:
df = pd.read_csv('/Users/muneebsamad/Desktop/Material/Project-3-team-6/Resources/600K US Housing Properties.csv')

/var/folders/lm/_0dxbsxn12x_gj203f_bq6br0000gn/T/ipykernel_78330/358520619.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/muneebsamad/Desktop/Material/Project-3-team-6/Resources/600K US Housing Properties.csv')

In [23]:
df

,property_url,property_id,address,street_name,apartment,city,state,latitude,longitude,postcode,...,property_type,property_status,year_build,total_num_units,listing_age,RunDate,agency_name,agent_name,agent_phone,is_owned_by_zillow
0,https://www.zillow.com/homedetails/3-Plat-83-1...,2064212272,"3 Plat #83-10, Wrangell, AK 99929",Plat #83-10,NaN,Wrangell,AK,NaN,NaN,99929,...,LOT,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,Anchor Properties,NaN,NaN,0
1,https://www.zillow.com/homedetails/117-3rd-St-...,249518113,"117 3rd St, Wrangell, AK 99929",3rd St,NaN,Wrangell,AK,56.474518,-132.386000,99929,...,SINGLE_FAMILY,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,NaN,NaN,NaN,0
2,https://www.zillow.com/homedetails/LOT-2A-Fron...,2077729913,"LOT 2A Front St, Wrangell, AK 99929",LOT 2A Front St,NaN,Wrangell,AK,56.471638,-132.386860,99929,...,LOT,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,NaN,NaN,NaN,0
3,https://www.zillow.com/homedetails/LOT-A-Plat-...,2067488502,"LOT A Plat #2009-6, Wrangell, AK 99929",LOT A Plat #2009-6,NaN,Wrangell,AK,NaN,NaN,99929,...,SINGLE_FAMILY,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,"Petersburg Properties, LLC",NaN,NaN,0
4,https://www.zillow.com/homedetails/335-Cassiar...,249518139,"335 Cassiar St, Wrangell, AK 99929",Cassiar St,NaN,Wrangell,AK,56.475697,-132.389050,99929,...,SINGLE_FAMILY,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,https://www.zillow.com/homedetails/6317-Virgin...,4303608,"6317 Virginia Ln, Matteson, IL 60443",Virginia Ln,NaN,Matteson,IL,41.523070,-87.769340,60443,...,SINGLE_FAMILY,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,Coldwell Banker Realty,NaN,NaN,0
599996,https://www.zillow.com/homedetails/LOT-16-Ray-...,2078144422,"LOT 16 Ray Ave, West Chicago, IL 60185",LOT 16 Ray Ave,NaN,West Chicago,IL,NaN,NaN,60185,...,LOT,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,GC Realty and Development,NaN,NaN,0
599997,https://www.zillow.com/homedetails/12S135-Lemo...,4604875,"12S135 Lemont Rd, Lemont, IL 60439",135 Lemont Rd,NaN,Lemont,IL,41.697723,-88.003746,60439,...,SINGLE_FAMILY,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,Coldwell Banker Real Estate Group,NaN,NaN,0
599998,https://www.zillow.com/homedetails/4701-Abbey-...,65578365,"4701 Abbey Ln, Matteson, IL 60443",Abbey Ln,NaN,Matteson,IL,41.519527,-87.730644,60443,...,SINGLE_FAMILY,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,"Brakie Realty, Inc.",NaN,NaN,0
599999,https://www.zillow.com/homedetails/321-Allen-A...,4418670,"321 Allen Ave, West Chicago, IL 60185",Allen Ave,NaN,West Chicago,IL,41.879490,-88.203010,60185,...,SINGLE_FAMILY,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,Porcayo & Associates Realty,NaN,NaN,0

In [30]:
df_cleaned = df.dropna(subset=['longitude', 'latitude'])

In [32]:
df_new = df.drop(columns=['property_url', 'agency_name', 'agent_name', 'agent_phone', 'is_owned_by_zillow', 'RunDate', 'total_num_units'])

In [38]:
df_new.dtypes

property_id          int64
address             object
street_name         object
apartment           object
city                object
state               object
latitude           float64
longitude          float64
postcode            object
price              float64
bedroom_number     float64
bathroom_number    float64
price_per_unit     float64
living_space       float64
land_space         float64
land_space_unit     object
broker_id          float64
property_type       object
property_status     object
year_build         float64
listing_age          int64
dtype: object

,property_id,address,street_name,apartment,city,state,latitude,longitude,postcode,price,bedroom_number,bathroom_number,price_per_unit,living_space,land_space,land_space_unit,broker_id,year_build,listing_age
0,2064212272,"3 Plat #83-10, Wrangell, AK 99929",Plat #83-10,NaN,Wrangell,AK,NaN,NaN,99929,135000.0,NaN,NaN,NaN,NaN,3.8860,acres,NaN,NaN,-1
1,249518113,"117 3rd St, Wrangell, AK 99929",3rd St,NaN,Wrangell,AK,56.474518,-132.386000,99929,589500.0,3.0,3.0,237.0,2478.0,7492.0000,sqft,NaN,NaN,-1
2,2077729913,"LOT 2A Front St, Wrangell, AK 99929",LOT 2A Front St,NaN,Wrangell,AK,56.471638,-132.386860,99929,99999.0,NaN,0.0,NaN,NaN,7222.0000,sqft,NaN,NaN,-1
3,2067488502,"LOT A Plat #2009-6, Wrangell, AK 99929",LOT A Plat #2009-6,NaN,Wrangell,AK,NaN,NaN,99929,495000.0,3.0,1.0,330.0,1500.0,61.9705,acres,NaN,NaN,-1
4,249518139,"335 Cassiar St, Wrangell, AK 99929",Cassiar St,NaN,Wrangell,AK,56.475697,-132.389050,99929,405000.0,5.0,3.0,194.0,2080.0,10436.0000,sqft,NaN,NaN,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,4303608,"6317 Virginia Ln, Matteson, IL 60443",Virginia Ln,NaN,Matteson,IL,41.523070,-87.769340,60443,350000.0,4.0,3.0,134.0,2600.0,10375.9920,sqft,NaN,NaN,-1
599996,2078144422,"LOT 16 Ray Ave, West Chicago, IL 60185",LOT 16 Ray Ave,NaN,West Chicago,IL,NaN,NaN,60185,29900.0,NaN,NaN,NaN,NaN,0.2600,acres,NaN,NaN,-1
599997,4604875,"12S135 Lemont Rd, Lemont, IL 60439",135 Lemont Rd,NaN,Lemont,IL,41.697723,-88.003746,60439,859000.0,3.0,3.0,254.0,3373.0,4.8204,acres,NaN,NaN,-1
599998,65578365,"4701 Abbey Ln, Matteson, IL 60443",Abbey Ln,NaN,Matteson,IL,41.519527,-87.730644,60443,465000.0,5.0,4.0,140.0,3301.0,10193.0400,sqft,NaN,NaN,-1
599999,4418670,"321 Allen Ave, West Chicago, IL 60185",Allen Ave,NaN,West Chicago,IL,41.879490,-88.203010,60185,310000.0,4.0,2.0,181.0,1709.0,6634.1880,sqft,NaN,NaN,-1

In [42]:
df2 = df1[df1['state'] !='TX']

In [45]:
df3 = df1.drop(columns = ['address'])

In [51]:
df4.to_csv('UsProperties.csv', index=False)

In [49]:
df4 = df2.drop(columns=['street_name'])

In [50]:
df4

,property_id,address,apartment,city,state,latitude,longitude,postcode,price,bedroom_number,bathroom_number,price_per_unit,living_space,land_space,land_space_unit,broker_id,year_build,listing_age
0,2064212272,"3 Plat #83-10, Wrangell, AK 99929",NaN,Wrangell,AK,NaN,NaN,99929,135000.0,NaN,NaN,NaN,NaN,3.8860,acres,NaN,NaN,-1
1,249518113,"117 3rd St, Wrangell, AK 99929",NaN,Wrangell,AK,56.474518,-132.386000,99929,589500.0,3.0,3.0,237.0,2478.0,7492.0000,sqft,NaN,NaN,-1
2,2077729913,"LOT 2A Front St, Wrangell, AK 99929",NaN,Wrangell,AK,56.471638,-132.386860,99929,99999.0,NaN,0.0,NaN,NaN,7222.0000,sqft,NaN,NaN,-1
3,2067488502,"LOT A Plat #2009-6, Wrangell, AK 99929",NaN,Wrangell,AK,NaN,NaN,99929,495000.0,3.0,1.0,330.0,1500.0,61.9705,acres,NaN,NaN,-1
4,249518139,"335 Cassiar St, Wrangell, AK 99929",NaN,Wrangell,AK,56.475697,-132.389050,99929,405000.0,5.0,3.0,194.0,2080.0,10436.0000,sqft,NaN,NaN,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,4303608,"6317 Virginia Ln, Matteson, IL 60443",NaN,Matteson,IL,41.523070,-87.769340,60443,350000.0,4.0,3.0,134.0,2600.0,10375.9920,sqft,NaN,NaN,-1
599996,2078144422,"LOT 16 Ray Ave, West Chicago, IL 60185",NaN,West Chicago,IL,NaN,NaN,60185,29900.0,NaN,NaN,NaN,NaN,0.2600,acres,NaN,NaN,-1
599997,4604875,"12S135 Lemont Rd, Lemont, IL 60439",NaN,Lemont,IL,41.697723,-88.003746,60439,859000.0,3.0,3.0,254.0,3373.0,4.8204,acres,NaN,NaN,-1
599998,65578365,"4701 Abbey Ln, Matteson, IL 60443",NaN,Matteson,IL,41.519527,-87.730644,60443,465000.0,5.0,4.0,140.0,3301.0,10193.0400,sqft,NaN,NaN,-1
599999,4418670,"321 Allen Ave, West Chicago, IL 60185",NaN,West Chicago,IL,41.879490,-88.203010,60185,310000.0,4.0,2.0,181.0,1709.0,6634.1880,sqft,NaN,NaN,-1