In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
import json

In [2]:
# link files 
housing_csv = Path("../data/cleaned (3).csv")
income_csv = Path("../data/income_city.csv")
locations_csv = Path("../data/uscities.csv")

#Convert so the CSV files can be read
housingData = pd.read_csv(housing_csv, low_memory=False)
incomeData = pd.read_csv(income_csv, encoding='ISO-8859-1')
locationsData = pd.read_csv(locations_csv)

## find the average housing price of each city in each state

In [3]:
housingData["price"].dropna()

0         589500.0
1          99999.0
2         405000.0
3         130000.0
4          20000.0
            ...
529117    210000.0
529118    350000.0
529119    859000.0
529120    465000.0
529121    310000.0
Name: price, Length: 529122, dtype: float64

In [4]:
housingData['price'] = pd.to_numeric(housingData['price'], errors='coerce')

In [5]:
print(housingData['price'].apply(type).value_counts())

price
<class 'float'>    529122
Name: count, dtype: int64

In [6]:

CA_housing = housingData[(housingData["state"] == "CA")]
WA_housing = housingData[(housingData["state"] == "WA")]
CO_housing = housingData[(housingData["state"] == "CO")]
AK_housing = housingData[(housingData["state"] == "AK")]

NM_housing = housingData[(housingData["state"] == "NM")]
AR_housing = housingData[(housingData["state"] == "AR")]
ID_housing = housingData[(housingData["state"] == "ID")]
LA_housing = housingData[(housingData["state"] == "LA")]

In [7]:
NM_housing.dtypes

property_url           object
property_id             int64
address                object
street_name            object
apartment              object
city                   object
state                  object
latitude              float64
longitude             float64
postcode               object
price                 float64
bedroom_number        float64
bathroom_number       float64
price_per_unit        float64
living_space          float64
land_space            float64
land_space_unit        object
broker_id             float64
property_type          object
property_status        object
year_build            float64
total_num_units       float64
listing_age             int64
RunDate                object
agency_name            object
agent_name            float64
agent_phone           float64
is_owned_by_zillow      int64
dtype: object

In [8]:
len(NM_housing)

10207

In [9]:
CA_housing["city_lower"] = CA_housing["city"].str.lower()
WA_housing["city_lower"] = WA_housing["city"].str.lower()
CO_housing["city_lower"] = CO_housing["city"].str.lower()
AK_housing["city_lower"] = AK_housing["city"].str.lower()
NM_housing["city_lower"] = NM_housing["city"].str.lower()
AR_housing["city_lower"] = AR_housing["city"].str.lower()
ID_housing["city_lower"] = ID_housing["city"].str.lower()
LA_housing["city_lower"] = LA_housing["city"].str.lower()

# Update the city names in the original DataFrame using .loc
CA_housing["city"] = CA_housing["city_lower"]
WA_housing["city"] = WA_housing["city_lower"]
CO_housing["city"] = CO_housing["city_lower"]
AK_housing["city"] = AK_housing["city_lower"]
NM_housing["city"] = NM_housing["city_lower"]
AR_housing["city"] = AR_housing["city_lower"]
ID_housing["city"] = ID_housing["city_lower"]
LA_housing["city"] = LA_housing["city_lower"]

# Drop the temporary "city_lower" column
CA_housing.drop(columns=["city_lower"], inplace=True)
WA_housing.drop(columns=["city_lower"], inplace=True)
CO_housing.drop(columns=["city_lower"], inplace=True)
AK_housing.drop(columns=["city_lower"], inplace=True)
NM_housing.drop(columns=["city_lower"], inplace=True)
AR_housing.drop(columns=["city_lower"], inplace=True)
ID_housing.drop(columns=["city_lower"], inplace=True)
LA_housing.drop(columns=["city_lower"], inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CA_housing["city_lower"] = CA_housing["city"].str.lower()
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  WA_housing["city_lower"] = WA_housing["city"].str.lower()
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CO_housing["city_lower"] = CO_housing["city"].str.lower()
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AK_housing["city_lower"] = AK_housing["city"].str.lower()
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NM_housing["city_lower"] = NM_housing["city"].str.lower()
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AR_housing["city_lower"] = AR_housing["city"].str.lower()
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ID_housing["city_lower"] = ID_housing["city"].str.lower()
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  LA_housing["city_lower"] = LA_housing["city"].str.lower()
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CA_housing["city"] = CA_housing["city_lower"]
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  WA_housing["city"] = WA_housing["city_lower"]
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CO_housing["city"] = CO_housing["city_lower"]
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AK_housing["city"] = AK_housing["city_lower"]
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NM_housing["city"] = NM_housing["city_lower"]
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AR_housing["city"] = AR_housing["city_lower"]
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ID_housing["city"] = ID_housing["city_lower"]
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  LA_housing["city"] = LA_housing["city_lower"]
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CA_housing.drop(columns=["city_lower"], inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  WA_housing.drop(columns=["city_lower"], inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CO_housing.drop(columns=["city_lower"], inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AK_housing.drop(columns=["city_lower"], inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NM_housing.drop(columns=["city_lower"], inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AR_housing.drop(columns=["city_lower"], inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ID_housing.drop(columns=["city_lower"], inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_8860\1350140589.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  LA_housing.drop(columns=["city_lower"], inplace=True)

In [10]:
CA_avgPrice = CA_housing.groupby("city")["price"].mean().round(2)
WA_avgPrice = WA_housing.groupby("city")["price"].mean().round(2)
CO_avgPrice = CO_housing.groupby("city")["price"].mean().round(2)
AK_avgPrice = AK_housing.groupby("city")["price"].mean().round(2)

NM_avgPrice = NM_housing.groupby("city")["price"].mean().round(2)
AR_avgPrice = AR_housing.groupby("city")["price"].mean().round(2)
ID_avgPrice = ID_housing.groupby("city")["price"].mean().round(2)
LA_avgPrice = LA_housing.groupby("city")["price"].mean().round(2)

city_avgPrice = {
    "CA": CA_avgPrice.reset_index().set_index("city")["price"].to_dict(),
    "WA": WA_avgPrice.reset_index().set_index("city")["price"].to_dict(),
    "CO": CO_avgPrice.reset_index().set_index("city")["price"].to_dict(),
    "AK": AK_avgPrice.reset_index().set_index("city")["price"].to_dict(),
    "NM": NM_avgPrice.reset_index().set_index("city")["price"].to_dict(),
    "AR": AR_avgPrice.reset_index().set_index("city")["price"].to_dict(),
    "ID": ID_avgPrice.reset_index().set_index("city")["price"].to_dict(),
    "LA": LA_avgPrice.reset_index().set_index("city")["price"].to_dict()
}

city_avgPrice_json = json.dumps(city_avgPrice, indent=4)

print(city_avgPrice_json)

{
    "CA": {
        "29 palms": 68970.53,
        "acampo": 762796.57,
        "acton": 704409.13,
        "adelaide": 1890300.0,
        "adelanto": 330053.21,
        "adin": 441944.44,
        "agoura hills": 1457051.42,
        "agua dulce": 1149721.7,
        "aguanga": 298430.58,
        "ahwahnee": 426491.18,
        "alameda": 1121272.61,
        "alamo": 4364938.69,
        "albany": 1018970.86,
        "albion": 962818.18,
        "alderpoint": 217222.22,
        "alhambra": 1021538.51,
        "aliso viejo": 946978.4,
        "alpaugh": 8559900.0,
        "alpine": 1026568.82,
        "alpine meadows": 2033500.0,
        "alpine village": 150000.0,
        "alta": 373254.45,
        "alta loma": 835285.78,
        "altadena": 1349019.42,
        "alturas": 104850.81,
        "alviso": 1225000.0,
        "amador city": 327000.0,
        "amboy": 42500.0,
        "american canyon": 1002626.67,
        "anaheim": 950574.16,
        "anderson": 542865.38,
        "angels camp": 598897.4,
        "angelus oaks": 316699.92,
        "angwin": 3076062.44,
        "antelope": 558261.04,
        "antioch": 688440.04,
        "anza": 312691.72,
        "apple valley": 385710.7,
        "applegate": 641766.67,
        "aptos": 2524826.13,
        "aqueduct city": 41500.0,
        "arboga": 499365.0,
        "arbuckle": 601166.33,
        "arcadia": 2784670.4,
        "arcata": 697800.0,
        "armona": 334377.78,
        "arnold": 354038.8,
        "aromas": 941250.0,
        "arrow bear": 25000.0,
        "arrowbear lake": 354316.67,
        "arroyo grande": 1172564.77,
        "artesia": 1174378.33,
        "artois": 559000.0,
        "arvin": 702318.81,
        "atascadero": 812822.76,
        "atherton": 20600160.44,
        "atwater": 550539.04,
        "auberry": 330672.38,
        "auburn": 1034415.13,
        "avalon": 1569707.14,
        "avenal": 267775.93,
        "avery": 61316.67,
        "avila beach": 2091144.85,
        "azusa": 964243.71,
        "badger": 2459500.0,
        "baker": 324000.0,
        "bakersfield": 445573.63,
        "baldwin lake": 70000.0,
        "baldwin park": 833294.88,
        "ballico": 680000.0,
        "bangor": 380150.0,
        "banning": 376601.95,
        "barstow": 253672.47,
        "bass lake": 1512323.53,
        "bay point": 535143.53,
        "bear valley": 261250.0,
        "bear valley springs": 18000.0,
        "beaumont": 559501.2,
        "beckwourth": 620427.86,
        "bell": 1635739.9,
        "bell canyon": 1744368.32,
        "bell gardens": 1219657.14,
        "bella vista": 458259.67,
        "bellflower": 1182913.77,
        "belmont": 2020015.74,
        "belvedere": 26333333.33,
        "belvedere tiburon": 8161086.96,
        "ben lomond": 660611.11,
        "benicia": 956827.88,
        "benton": 238000.0,
        "berkeley": 1575517.9,
        "bermuda dunes": 925461.54,
        "berry creek": 136792.95,
        "bethel island": 587366.41,
        "beverly hills": 13174166.58,
        "bieber": 2581400.0,
        "big bar": 203990.0,
        "big bear": 149950.0,
        "big bear city": 506125.05,
        "big bear lake": 857765.6,
        "big bend": 225000.0,
        "big oak flat": 247100.0,
        "big pine": 228983.33,
        "big river": 290281.82,
        "big sur": 9498400.0,
        "biggs": 683164.29,
        "bishop": 388610.85,
        "blairsden": 341333.33,
        "blairsden graeagle": 590741.18,
        "blocksburg": 237000.0,
        "bloomington": 596140.14,
        "blue jay": 542000.0,
        "blue lake": 630000.0,
        "blythe": 491692.85,
        "bodega bay": 1839285.71,
        "bodfish": 140864.22,
        "bolinas": 1648000.0,
        "bombay beach": 55000.0,
        "bonita": 1210394.12,
        "bonny doon": 1550000.0,
        "bonsall": 995516.36,
        "boonville": 1296500.0,
        "boron": 83411.14,
        "borrego springs": 167710.2,
        "boulder creek": 446324.0,
        "boulevard": 524112.12,
        "bradbury": 6889583.33,
        "bradley": 516151.04,
        "branscomb": 350000.0,
        "brawley": 293463.85,
        "brea": 1071916.92,
        "brentwood": 982913.44,
        "bridgeport": 357285.29,
        "bridgeville": 574099.48,
        "briones": 1699000.0,
        "brisbane": 1182000.0,
        "brookdale": 283250.0,
        "browns valley": 582939.04,
        "brownsville": 437908.33,
        "bryn mawr": 435000.0,
        "bucks lake": 30000.0,
        "buellton": 2554350.0,
        "buena park": 939256.28,
        "burbank": 1454594.5,
        "burlingame": 2665362.42,
        "burney": 155425.0,
        "burnt ranch": 451642.86,
        "burson": 487833.33,
        "butte valley": 1127000.0,
        "buttonwillow": 1430960.0,
        "byron": 3165636.0,
        "cabazon": 256660.85,
        "calabasas": 3208543.44,
        "calexico": 488227.44,
        "caliente": 737633.59,
        "calif city": 20000.0,
        "california city": 133410.91,
        "california hot springs": 204800.0,
        "california valley": 15000.0,
        "calimesa": 395638.54,
        "calipatria": 259612.5,
        "calistoga": 3527174.07,
        "calpine": 358285.71,
        "camarillo": 1165039.08,
        "cambria": 1232530.43,
        "cameron park": 728382.44,
        "camino": 682891.3,
        "camp connell": 414011.11,
        "camp meeker": 284500.0,
        "campbell": 1728907.85,
        "campo": 376943.0,
        "campo seco": 675000.0,
        "camptonville": 285377.78,
        "canby": 111250.0,
        "canoga park": 1031366.86,
        "cantil": 195684.0,
        "cantua creek": 165833.33,
        "canyon country": 830387.27,
        "canyon dam": 29500.0,
        "canyon lake": 607704.83,
        "capay": 1484460.0,
        "capistrano beach": 2099750.0,
        "capitola": 1300000.0,
        "cardiff": 2761500.0,
        "cardiff by the sea": 3041375.0,
        "carlotta": 620989.9,
        "carlsbad": 1614244.83,
        "carmel": 2834574.46,
        "carmel by the sea": 3981900.0,
        "carmel valley": 3472294.27,
        "carmichael": 665595.32,
        "carnelian bay": 1209888.89,
        "carpinteria": 15195411.11,
        "carson": 704021.03,
        "caruthers": 586199.92,
        "cassel": 682500.0,
        "castaic": 825167.13,
        "castella": 759333.33,
        "castro valley": 1393548.47,
        "castroville": 442544.44,
        "cathedral city": 400310.64,
        "catheys valley": 723550.0,
        "cayucos": 1412668.57,
        "cazadero": 509588.24,
        "cedar glen": 203473.87,
        "cedarpines park": 180422.96,
        "cedarville": 303800.0,
        "ceres": 587679.68,
        "cerritos": 1132002.02,
        "challenge": 268300.0,
        "chatsworth": 1231431.47,
        "cherokee": 169500.0,
        "cherry valley": 925739.85,
        "chester": 290374.04,
        "chico": 651668.45,
        "chilcoot": 313250.0,
        "chino": 778396.44,
        "chino hills": 1019933.77,
        "chowchilla": 562144.82,
        "chualar": 2495000.0,
        "chula vista": 848840.48,
        "citrus heights": 471937.01,
        "claremont": 1092505.81,
        "clarksburg": 1540180.0,
        "clayton": 1161237.14,
        "clearlake": 314843.81,
        "clearlake oaks": 223574.9,
        "clearlake park": 349900.0,
        "clements": 1464271.43,
        "clio": 399307.89,
        "clipper mills": 138357.14,
        "cloverdale": 1358954.35,
        "clovis": 695693.8,
        "coachella": 986253.83,
        "coalinga": 562206.2,
        "coarsegold": 504500.44,
        "cobb": 194255.04,
        "cohasset": 374125.0,
        "cold springs": 1682500.0,
        "coleville": 146163.64,
        "colfax": 605460.31,
        "colma": 1626500.0,
        "coloma": 487450.0,
        "colton": 481868.24,
        "columbia": 376850.0,
        "colusa": 684081.82,
        "commerce": 732249.75,
        "comptche": 1355333.33,
        "compton": 618570.45,
        "concord": 763175.59,
        "cool": 762581.48,
        "copperopolis": 450464.0,
        "corcoran": 209351.8,
        "corning": 244107.07,
        "corona": 867840.31,
        "corona del mar": 7550522.69,
        "coronado": 5265948.26,
        "corte madera": 1771615.38,
        "costa mesa": 1404238.33,
        "cotati": 1045421.43,
        "cottonwood": 459494.17,
        "coulterville": 372005.38,
        "covelo": 690966.67,
        "covina": 891139.21,
        "crescent city": 345359.59,
        "crescent mills": 332180.0,
        "crestline": 333452.35,
        "crestmore": 429500.0,
        "creston": 1321900.0,
        "crockett": 688000.0,
        "cromberg": 539625.0,
        "crowley lake": 862333.33,
        "crows landing": 1750000.0,
        "cudahy": 1929090.0,
        "culver city": 1646298.33,
        "cupertino": 3075091.24,
        "cutler": 611374.33,
        "cuyama": 350000.0,
        "cypress": 917603.82,
        "daggett": 306191.5,
        "daly city": 1158164.39,
        "dana point": 3957959.43,
        "dana pt": 2820190.09,
        "danville": 2386212.86,
        "davenport": 1132000.0,
        "davis": 1038335.7,
        "davis creek": 653000.0,
        "deer park": 10175000.0,
        "del mar": 7427883.12,
        "del rey": 477333.33,
        "del rey oaks": 789200.0,
        "del sur": 700000.0,
        "delano": 537137.0,
        "delhi": 698581.82,
        "delleker": 112816.67,
        "denair": 516688.43,
        "descanso": 627974.67,
        "desert center": 837874.88,
        "desert heights": 33000.0,
        "desert hot springs": 366914.87,
        "devore": 502475.0,
        "diablo": 2558000.0,
        "diamond bar": 1183199.64,
        "diamond springs": 439317.86,
        "dillon beach": 350000.0,
        "dinuba": 423584.08,
        "discovery bay": 1042827.38,
        "dixon": 740678.53,
        "dobbins": 230466.6,
        "dorris": 1377735.6,
        "dos palos": 781299.96,
        "dos rios": 459000.0,
        "douglas city": 418123.91,
        "downey": 1102242.94,
        "downieville": 90749.5,
        "doyle": 151333.33,
        "duarte": 957969.0,
        "dublin": 1428745.11,
        "ducor": 4900000.0,
        "dulzura": 300960.0,
        "dunlap": 911350.0,
        "dunsmuir": 436994.44,
        "durham": 624500.0,
        "dutch flat": 522150.0,
        "earlimart": 1017864.67,
        "earp": 103487.5,
        "east garrison": 895000.0,
        "east palo alto": 1751946.74,
        "east quincy": 311500.0,
        "eastvale": 236893.27,
        "echo lake": 3688000.0,
        "edwards": 101999.77,
        "el cajon": 692722.79,
        "el centro": 547866.06,
        "el cerrito": 1043611.05,
        "el dorado": 532429.96,
        "el dorado hills": 1254991.57,
        "el dorado hls": 175000.0,
        "el granada": 738000.0,
        "el macero": 1140000.0,
        "el mirage": 181857.0,
        "el monte": 919886.33,
        "el nido": 3675000.0,
        "el segundo": 1910490.91,
        "el sobrante": 773909.6,
        "el toro": 639000.0,
        "elizabeth lake": 421800.0,
        "elk": 1842500.0,
        "elk creek": 655750.0,
        "elk grove": 765303.0,
        "elverta": 1155187.29,
        "emerald hills": 2999000.0,
        "emeryville": 660648.89,
        "emigrant gap": 416666.67,
        "empire": 427950.0,
        "encinitas": 2653705.37,
        "encino": 3343712.55,
        "escalon": 1185482.4,
        "escondido": 959383.66,
        "esparto": 1133486.83,
        "essex": 46983.33,
        "etiwanda": 982636.36,
        "etna": 311666.67,
        "eureka": 673742.21,
        "exeter": 556150.89,
        "fair oaks": 682189.28,
        "fairfax": 1249916.0,
        "fairfield": 901122.54,
        "fairmont": 40000.0,
        "fall river mills": 694815.79,
        "fallbrook": 1097401.99,
        "farmersville": 233933.33,
        "farmington": 3528805.0,
        "fawnskin": 432455.48,
        "fellows": 115966.67,
        "felton": 758051.96,
        "ferndale": 1693714.29,
        "fiddletown": 438928.57,
        "fillmore": 786642.62,
        "finley": 1650000.0,
        "firebaugh": 1525378.42,
        "fish camp": 612500.0,
        "five points": 27700000.0,
        "floriston": 839333.33,
        "folsom": 845695.97,
        "fontana": 783623.71,
        "foothill ranch": 1142692.41,
        "forbestown": 340125.0,
        "forest falls": 314347.06,
        "forest knolls": 395000.0,
        "forest ranch": 439043.75,
        "foresthill": 452033.15,
        "forestville": 1304519.64,
        "fort bidwell": 115625.0,
        "fort bragg": 703634.21,
        "fort jones": 844964.58,
        "fortuna": 588726.79,
        "foster city": 1624739.13,
        "fountain valley": 963964.25,
        "fowler": 447912.1,
        "frazier park": 472068.68,
        "freedom": 606799.0,
        "freestone": 1500000.0,
        "fremont": 1454509.57,
        "french camp": 1069487.5,
        "french gulch": 133450.0,
        "fresno": 515207.98,
        "friant": 444795.83,
        "fullerton": 1109232.84,
        "fulton": 1297450.0,
        "galt": 701341.05,
        "garberville": 962373.47,
        "garden grove": 1039731.06,
        "garden valley": 579928.47,
        "gardena": 908533.58,
        "gasquet": 730483.33,
        "gaviota": 2750000.0,
        "gazelle": 2602966.67,
        "georgetown": 339034.06,
        "gerber": 354375.0,
        "geyserville": 2899181.82,
        "gilroy": 1885830.23,
        "glen ellen": 2610325.0,
        "glencoe": 431928.57,
        "glendale": 1256179.2,
        "glendora": 1353373.15,
        "glenhaven": 440000.0,
        "glenn": 1239500.0,
        "glennville": 897500.0,
        "gold river": 720977.11,
        "gold run": 262000.0,
        "goleta": 4363920.51,
        "gonzales": 707500.0,
        "goodyears bar": 799999.0,
        "graeagle": 375687.47,
        "granada hills": 1093623.19,
        "grand terrace": 607353.67,
        "granite bay": 1612747.19,
        "grass valley": 545286.85,
        "graton": 835500.0,
        "green valley": 24000.0,
        "green valley lake": 294715.79,
        "greenbrae": 1025250.0,
        "greenfield": 768256.52,
        "greenview": 89500.0,
        "greenville": 856028.57,
        "greenwood": 421166.58,
        "grenada": 150000.0,
        "gridley": 906245.41,
        "grizzly flats": 96574.23,
        "groveland": 340160.81,
        "grover beach": 738936.36,
        "guadalupe": 1213701.4,
        "gualala": 849383.77,
        "guatay": 47900.0,
        "guerneville": 551140.6,
        "guinda": 1115000.0,
        "gustine": 334106.12,
        "hacienda heights": 1093559.91,
        "half moon bay": 1326701.85,
        "hamilton city": 334500.0,
        "hanford": 529637.36,
        "happy camp": 166666.67,
        "harbor city": 684152.73,
        "harmony": 9985000.0,
        "hat creek": 2160750.0,
        "hathaway pines": 385560.0,
        "havasu lake": 269000.0,
        "havilah": 290000.0,
        "hawaiian gardens": 609299.92,
        "hawthorne": 981855.14,
        "hayfork": 389918.0,
        "hayward": 968074.1,
        "healdsburg": 2698382.68,
        "heber": 290285.71,
        "helendale": 277353.15,
        "hemet": 398589.78,
        "herald": 825000.0,
        "hercules": 915187.2,
        "heritage ranch": 420994.06,
        "herlong": 67630.77,
        "hermosa beach": 4433218.16,
        "hesperia": 455194.73,
        "hi vista": 69900.0,
        "hickman": 684566.67,
        "hidden hills": 13840083.33,
        "hidden valley lake": 252226.24,
        "highland": 482446.88,
        "hillsborough": 8598758.12,
        "hilmar": 1135449.82,
        "hinkley": 70243.16,
        "hodge": 199500.0,
        "hollister": 1142094.91,
        "holtville": 283725.0,
        "homeland": 459971.11,
        "homewood": 2320666.67,
        "honeydew": 1825000.0,
        "hood": 133150.0,
        "hoopa": 400000.0,
        "hopland": 1557454.55,
        "hornbrook": 168145.88,
        "horse creek": 499000.0,
        "hughson": 953306.21,
        "humboldt hill": 346000.0,
        "huntington beach": 1306743.14,
        "huntington lake": 510000.0,
        "huntington park": 802618.73,
        "huron": 228500.0,
        "hyampom": 194166.67,
        "hydesville": 448000.0,
        "idyllwild": 563486.43,
        "igo": 151773.68,
        "imperial": 411815.43,
        "imperial beach": 871591.81,
        "independence": 187000.0,
        "indian wells": 2261567.87,
        "indio": 612922.28,
        "inglewood": 1017672.31,
        "inverness": 2558333.33,
        "inyokern": 116330.1,
        "ione": 436441.19,
        "irvine": 1886128.06,
        "irwindale": 8500000.0,
        "isleton": 906784.5,
        "ivanhoe": 231150.0,
        "jackson": 436003.79,
        "jacumba": 186625.0,
        "jamestown": 443260.38,
        "jamul": 722271.74,
        "janesville": 490421.5,
        "jenner": 531250.0,
        "johannesburg": 75000.0,
        "johnson valley": 179884.46,
        "joshua tree": 363789.71,
        "julian": 483899.87,
        "junction city": 312111.11,
        "june lake": 2217580.0,
        "juniper hills": 390750.0,
        "jurupa valley": 719825.87,
        "kagel canyon": 617500.0,
        "keene": 354729.41,
        "kelseyville": 288839.79,
        "kensington": 1375384.62,
        "kentfield": 2395833.33,
        "kenwood": 3131200.0,
        "kerman": 889515.68,
        "kernville": 325930.88,
        "kettenpom": 449000.0,
        "kettleman city": 224100.0,
        "keyes": 374799.8,
        "king city": 561548.0,
        "kings beach": 1338266.67,
        "kingsburg": 702881.66,
        "kirkwood": 519800.0,
        "klamath": 259977.78,
        "klamath river": 113300.0,
        "kneeland": 784900.0,
        "knights ferry": 2415000.0,
        "kramer junction": 79700.0,
        "la canada flintridge": 3056775.53,
        "la crescenta": 1575267.44,
        "la grange": 510821.72,
        "la grange unincorp": 32999.0,
        "la habra": 711468.11,
        "la habra heights": 1458384.59,
        "la honda": 936555.44,
        "la jolla": 4666603.56,
        "la mesa": 975331.31,
        "la mirada": 831982.51,
        "la palma": 992369.15,
        "la puente": 735621.02,
        "la quinta": 1477259.54,
        "la verne": 743992.8,
        "ladera ranch": 1811016.55,
        "lafayette": 2235421.8,
        "laguna beach": 4776933.21,
        "laguna hills": 1231168.84,
        "laguna niguel": 2737850.62,
        "laguna woods": 445133.38,
        "lagunitas": 2249333.33,
        "lake almanor": 278000.0,
        "lake arrowhead": 892730.95,
        "lake balboa": 899000.0,
        "lake city": 96800.0,
        "lake elizabeth": 15000.0,
        "lake elsinor": 64888.0,
        "lake elsinore": 458098.94,
        "lake elsionor": 10000.0,
        "lake forest": 1197675.71,
        "lake gregory": 485000.0,
        "lake hughes": 261526.62,
        "lake isabella": 154044.32,
        "lake los angeles": 332710.77,
        "lake mathews": 554333.33,
        "lake sherwood": 2899975.0,
        "lake view terrace": 5725000.0,
        "lakehead": 461473.18,
        "lakeport": 500493.93,
        "lakeshore": 312250.0,
        "lakeside": 674995.84,
        "lakewood": 828287.12,
        "lamont": 296499.33,
        "lancaster": 338044.21,
        "landers": 237991.41,
        "larkspur": 1821666.67,
        "lathrop": 823906.85,
        "laton": 1012400.0,
        "lawndale": 849470.97,
        "laytonville": 438028.89,
        "le grand": 6629849.94,
        "lebec": 2236738.56,
        "lee vining": 561500.0,
        "leggett": 477400.0,
        "lemon grove": 752702.16,
        "lemoore": 1005601.53,
        "lennox": 1249000.0,
        "leona valley": 849245.3,
        "lewiston": 339785.71,
        "likely": 75000.0,
        "lincoln": 748947.47,
        "linda": 440693.56,
        "linden": 614714.29,
        "lindsay": 1103070.77,
        "litchfield": 691000.0,

In [11]:

# Specify the file path where you want to save the JSON file
output_file_path = "city_avgPrice.json"

# Save the JSON string to a file
with open(output_file_path, 'w') as file:
    file.write(city_avgPrice_json)

## find the average income of each city in each state

In [12]:
incomeData["Mean"].dropna()

0        38773
1        37725
2        54606
3        63919
4        77948
         ...
32521    30649
32522    15520
32523    41933
32524        0
32525    28049
Name: Mean, Length: 32526, dtype: int64

In [13]:
incomeData['Mean'] = pd.to_numeric(incomeData['Mean'], errors='coerce')

In [14]:
print(incomeData['Mean'].apply(type).value_counts())

Mean
<class 'int'>    32526
Name: count, dtype: int64

In [15]:
CA_income = incomeData[(incomeData["state"] == "CA")]
WA_income = incomeData[(incomeData["state"] == "WA")]
CO_income = incomeData[(incomeData["state"] == "CO")]
AK_income = incomeData[(incomeData["state"] == "AK")]

NM_income = incomeData[(incomeData["state"] == "NM")]
AR_income = incomeData[(incomeData["state"] == "AR")]
ID_income = incomeData[(incomeData["state"] == "ID")]
LA_income = incomeData[(incomeData["state"] == "LA")]

In [16]:
CA_income["city_lower"] = CA_income["city"].str.lower()
WA_income["city_lower"] = WA_income["city"].str.lower()
CO_income["city_lower"] = CO_income["city"].str.lower()
AK_income["city_lower"] = AK_income["city"].str.lower()
NM_income["city_lower"] = NM_income["city"].str.lower()
AR_income["city_lower"] = AR_income["city"].str.lower()
ID_income["city_lower"] = ID_income["city"].str.lower()
LA_income["city_lower"] = LA_income["city"].str.lower()

# Update the city names in the original DataFrame using .loc
CA_income["city"] = CA_income["city_lower"]
WA_income["city"] = WA_income["city_lower"]
CO_income["city"] = CO_income["city_lower"]
AK_income["city"] = AK_income["city_lower"]
NM_income["city"] = NM_income["city_lower"]
AR_income["city"] = AR_income["city_lower"]
ID_income["city"] = ID_income["city_lower"]
LA_income["city"] = LA_income["city_lower"]

# Drop the temporary "city_lower" column
CA_income.drop(columns=["city_lower"], inplace=True)
WA_income.drop(columns=["city_lower"], inplace=True)
CO_income.drop(columns=["city_lower"], inplace=True)
AK_income.drop(columns=["city_lower"], inplace=True)
NM_income.drop(columns=["city_lower"], inplace=True)
AR_income.drop(columns=["city_lower"], inplace=True)
ID_income.drop(columns=["city_lower"], inplace=True)
LA_income.drop(columns=["city_lower"], inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CA_income["city_lower"] = CA_income["city"].str.lower()
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  WA_income["city_lower"] = WA_income["city"].str.lower()
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CO_income["city_lower"] = CO_income["city"].str.lower()
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AK_income["city_lower"] = AK_income["city"].str.lower()
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NM_income["city_lower"] = NM_income["city"].str.lower()
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AR_income["city_lower"] = AR_income["city"].str.lower()
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ID_income["city_lower"] = ID_income["city"].str.lower()
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  LA_income["city_lower"] = LA_income["city"].str.lower()
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CA_income["city"] = CA_income["city_lower"]
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  WA_income["city"] = WA_income["city_lower"]
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CO_income["city"] = CO_income["city_lower"]
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AK_income["city"] = AK_income["city_lower"]
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NM_income["city"] = NM_income["city_lower"]
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AR_income["city"] = AR_income["city_lower"]
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ID_income["city"] = ID_income["city_lower"]
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  LA_income["city"] = LA_income["city_lower"]
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CA_income.drop(columns=["city_lower"], inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  WA_income.drop(columns=["city_lower"], inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CO_income.drop(columns=["city_lower"], inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AK_income.drop(columns=["city_lower"], inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NM_income.drop(columns=["city_lower"], inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AR_income.drop(columns=["city_lower"], inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ID_income.drop(columns=["city_lower"], inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2527967988.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  LA_income.drop(columns=["city_lower"], inplace=True)

In [17]:
CA_avgIncome = CA_income.groupby("city")["Mean"].mean().round(2)
WA_avgIncome = WA_income.groupby("city")["Mean"].mean().round(2)
CO_avgIncome = CO_income.groupby("city")["Mean"].mean().round(2)
AK_avgIncome = AK_income.groupby("city")["Mean"].mean().round(2)

NM_avgIncome = NM_income.groupby("city")["Mean"].mean().round(2)
AR_avgIncome = AR_income.groupby("city")["Mean"].mean().round(2)
ID_avgIncome = ID_income.groupby("city")["Mean"].mean().round(2)
LA_avgIncome = LA_income.groupby("city")["Mean"].mean().round(2)

city_avgIncome = {
    "CA": CA_avgIncome.reset_index().set_index("city")["Mean"].to_dict(),
    "WA": WA_avgIncome.reset_index().set_index("city")["Mean"].to_dict(),
    "CO": CO_avgIncome.reset_index().set_index("city")["Mean"].to_dict(),
    "AK": AK_avgIncome.reset_index().set_index("city")["Mean"].to_dict(),
    "NM": NM_avgIncome.reset_index().set_index("city")["Mean"].to_dict(),
    "AR": AR_avgIncome.reset_index().set_index("city")["Mean"].to_dict(),
    "ID": ID_avgIncome.reset_index().set_index("city")["Mean"].to_dict(),
    "LA": LA_avgIncome.reset_index().set_index("city")["Mean"].to_dict()
}

city_avgIncome_json = json.dumps(city_avgIncome, indent=4)

print(city_avgIncome_json)

{
    "CA": {
        "adelanto": 36944.0,
        "agoura": 140704.0,
        "agoura hills": 182475.0,
        "agua dulce": 91975.0,
        "aguanga": 64425.0,
        "alameda": 89726.38,
        "albany": 98633.0,
        "alhambra": 75486.22,
        "aliso viejo": 90167.0,
        "alpine": 91662.0,
        "alta": 64090.67,
        "alta loma": 98738.17,
        "altadena": 88514.0,
        "alviso": 87293.0,
        "anaheim": 72411.0,
        "anderson": 56644.0,
        "angwin": 79252.0,
        "antelope": 71078.0,
        "antioch": 60612.5,
        "anza": 67770.0,
        "apple valley": 62031.4,
        "aptos": 72422.4,
        "arcadia": 82843.6,
        "arcata": 40289.0,
        "arleta": 68519.0,
        "arroyo grande": 76230.67,
        "artesia": 76899.0,
        "arvin": 53026.0,
        "atascadero": 62049.0,
        "atherton": 149965.0,
        "atwater": 63003.5,
        "auburn": 89314.67,
        "avalon": 76075.0,
        "avenal": 0.0,
        "avery": 95870.67,
        "azusa": 62324.4,
        "bakersfield": 59350.87,
        "baldwin park": 61803.67,
        "banning": 28743.0,
        "barstow": 50790.33,
        "bay point": 78622.5,
        "beale afb": 32499.0,
        "beaumont": 53361.25,
        "bell": 47286.0,
        "bell gardens": 54055.0,
        "bella vista": 64201.0,
        "bellflower": 72411.44,
        "belmont": 86987.0,
        "ben lomond": 83248.0,
        "benicia": 89735.67,
        "benton": 72792.0,
        "berkeley": 103222.1,
        "bermuda dunes": 77483.0,
        "berry creek": 52817.0,
        "beverly hills": 111655.67,
        "bieber": 54602.0,
        "big bear lake": 57474.0,
        "big bend": 29530.0,
        "big creek": 91840.0,
        "bishop": 91625.0,
        "blocksburg": 24830.0,
        "bloomington": 58987.5,
        "blythe": 51489.0,
        "bodega bay": 32499.0,
        "bolinas": 50086.5,
        "bonita": 101129.0,
        "bonsall": 74199.0,
        "borrego springs": 41547.0,
        "brawley": 70244.67,
        "brea": 73237.33,
        "brentwood": 106513.5,
        "bridgeville": 39819.67,
        "buellton": 80327.0,
        "buena park": 75758.2,
        "burbank": 73593.4,
        "burlingame": 147438.5,
        "byron": 86367.0,
        "calabasas": 151185.0,
        "calexico": 55842.5,
        "california city": 49125.67,
        "calimesa": 61578.0,
        "calistoga": 88175.0,
        "camarillo": 92316.0,
        "cambria": 78162.0,
        "cameron park": 122054.0,
        "campbell": 111889.14,
        "camptonville": 45763.0,
        "canby": 40613.0,
        "canoga park": 74876.71,
        "canyon country": 93745.0,
        "capistrano beach": 90785.0,
        "capitola": 87396.0,
        "cardiff-by-the-sea": 115526.0,
        "carlsbad": 100168.71,
        "carmel": 103464.0,
        "carmel valley": 73412.0,
        "carmichael": 67756.14,
        "carpinteria": 88344.0,
        "carson": 63984.0,
        "castaic": 64217.0,
        "castro valley": 96963.75,
        "castroville": 63343.0,
        "cathedral city": 55176.0,
        "catheys valley": 69566.0,
        "cazadero": 60396.5,
        "ceres": 60523.5,
        "cerritos": 92139.67,
        "challenge": 40214.0,
        "chatsworth": 88913.25,
        "chester": 97160.5,
        "chico": 79356.4,
        "chino": 89300.92,
        "chino hills": 59836.0,
        "chowchilla": 44473.67,
        "chula vista": 77633.41,
        "citrus heights": 55089.75,
        "city of industry": 72912.0,
        "claremont": 80489.0,
        "clayton": 119428.5,
        "clearlake": 41732.0,
        "clearlake oaks": 46508.0,
        "cloverdale": 65845.0,
        "clovis": 68761.0,
        "coachella": 42170.5,
        "coalinga": 95126.0,
        "colfax": 62241.0,
        "colma": 86745.5,
        "colton": 46271.2,
        "compton": 52853.5,
        "concord": 88914.77,
        "cool": 93996.0,
        "corcoran": 48378.0,
        "corning": 42098.5,
        "corona": 86253.71,
        "coronado": 109138.0,
        "corte madera": 153399.0,
        "costa mesa": 109889.73,
        "cotati": 46420.0,
        "coto de caza": 156168.0,
        "cottonwood": 61149.33,
        "coulterville": 63827.0,
        "covina": 83829.57,
        "crescent city": 57953.0,
        "creston": 80023.0,
        "crockett": 89975.0,
        "cudahy": 46995.25,
        "culver city": 115271.5,
        "cupertino": 151270.83,
        "cypress": 163746.5,
        "daly city": 101587.57,
        "dana point": 99085.0,
        "danville": 143481.0,
        "davis": 72537.8,
        "del mar": 131231.0,
        "delano": 29954.0,
        "denair": 105985.0,
        "desert hot springs": 45601.5,
        "diamond bar": 96565.0,
        "dinuba": 56137.0,
        "dixon": 74476.5,
        "dos palos": 55580.5,
        "downey": 83078.19,
        "downieville": 21163.0,
        "duarte": 77921.25,
        "dublin": 110983.5,
        "ducor": 31274.0,
        "dunsmuir": 45774.0,
        "earlimart": 37464.0,
        "east palo alto": 59653.0,
        "eastvale": 113676.0,
        "edgewood": 53251.0,
        "el cajon": 77735.25,
        "el centro": 44411.5,
        "el cerrito": 91020.75,
        "el dorado hills": 151688.33,
        "el monte": 58231.64,
        "el segundo": 107331.0,
        "elk creek": 53148.0,
        "elk grove": 89429.4,
        "emeryville": 61154.0,
        "encinitas": 117298.5,
        "encino": 97549.4,
        "escalon": 55907.0,
        "escondido": 73626.07,
        "esparto": 83250.0,
        "eureka": 65540.71,
        "exeter": 79757.0,
        "fair oaks": 104319.75,
        "fairfield": 73944.89,
        "fall river mills": 63828.0,
        "fallbrook": 63353.33,
        "fillmore": 66371.0,
        "firebaugh": 59164.0,
        "five points": 29663.0,
        "flournoy": 55519.0,
        "folsom": 94830.17,
        "fontana": 58646.38,
        "forest falls": 75910.0,
        "forestville": 88066.0,
        "fort bragg": 44250.33,
        "fort dick": 65856.0,
        "fortuna": 68994.0,
        "foster city": 128534.33,
        "fountain valley": 99421.75,
        "fowler": 68012.0,
        "freedom": 29985.0,
        "fremont": 112430.47,
        "fresno": 57730.15,
        "fullerton": 79418.55,
        "galt": 62077.0,
        "garden grove": 68785.67,
        "gardena": 62308.86,
        "gilroy": 82760.6,
        "glen ellen": 115139.0,
        "glendale": 78447.12,
        "glendora": 88983.12,
        "gold river": 143292.0,
        "goleta": 64325.2,
        "granada hills": 95490.0,
        "grand terrace": 57997.33,
        "granite bay": 132808.0,
        "grass valley": 68782.25,
        "greenfield": 48881.0,
        "greenville": 32933.33,
        "gridley": 69574.0,
        "grizzly flat": 80195.0,
        "grover beach": 56701.0,
        "guadalupe": 52410.0,
        "guerneville": 61728.0,
        "gustine": 46245.0,
        "hacienda heights": 103234.25,
        "half moon bay": 111284.33,
        "hamilton city": 47707.0,
        "hanford": 68252.33,
        "harbor city": 68923.75,
        "hawaiian gardens": 115804.0,
        "hawthorne": 65463.0,
        "hayward": 74699.0,
        "healdsburg": 88532.33,
        "helendale": 73676.0,
        "hemet": 54605.33,
        "herald": 105322.0,
        "hercules": 108030.0,
        "herlong": 123055.0,
        "hermosa beach": 132479.0,
        "hesperia": 55908.75,
        "highland": 71572.25,
        "hillsborough": 173210.0,
        "hilmar": 90493.0,
        "hollister": 86902.6,
        "hollywood": 42480.0,
        "holtville": 41460.0,
        "hoopa": 42756.0,
        "hughson": 74779.0,
        "huntington beach": 99406.06,
        "huntington park": 38400.0,
        "imperial": 82874.0,
        "imperial beach": 52337.67,
        "independence": 64939.0,
        "indio": 55105.8,
        "inglewood": 54139.45,
        "inyokern": 125966.0,
        "ione": 67768.0,
        "irvine": 94079.86,
        "ivanhoe": 37270.0,
        "jackson": 68022.0,
        "jamul": 95223.0,
        "janesville": 72742.0,
        "jurupa valley": 68866.14,
        "kelseyville": 61941.0,
        "kensington": 141291.0,
        "kenwood": 87850.5,
        "kerman": 45548.0,
        "king city": 68913.0,
        "kingsburg": 124958.0,
        "knights ferry": 73534.0,
        "la canada": 164286.0,
        "la crescenta": 101494.33,
        "la habra": 81280.71,
        "la jolla": 74553.25,
        "la mesa": 63263.79,
        "la mirada": 94684.0,
        "la puente": 71689.9,
        "la quinta": 61644.0,
        "la selva beach": 115367.0,
        "ladera ranch": 139229.25,
        "lafayette": 157484.0,
        "laguna beach": 82834.33,
        "laguna hills": 65319.2,
        "laguna niguel": 120875.14,
        "lake arrowhead": 58456.8,
        "lake elsinore": 49658.25,
        "lake forest": 93905.0,
        "lake hughes": 71766.0,
        "lake isabella": 52875.0,
        "lake view terrace": 45536.0,
        "lakeport": 57078.0,
        "lakeside": 94236.0,
        "lakewood": 103878.0,
        "lamont": 39654.0,
        "lancaster": 52545.79,
        "larkspur": 82393.0,
        "laton": 50949.0,
        "lawndale": 56150.25,
        "lebec": 53093.33,
        "lemon grove": 69245.0,
        "lemoore": 72600.0,
        "lennox": 42805.0,
        "lincoln": 63590.33,
        "lindsay": 48863.5,
        "litchfield": 78642.0,
        "live oak": 65852.0,
        "livermore": 107116.11,
        "livingston": 58644.5,
        "lockeford": 89853.0,
        "lodi": 80606.12,
        "loma linda": 106524.0,
        "lomita": 92814.67,
        "lompoc": 64472.2,
        "long beach": 73900.73,
        "loomis": 102063.25,
        "los alamitos": 96732.0,
        "los alamos": 87715.5,
        "los altos": 165306.8,
        "los angeles": 61724.56,
        "los banos": 54495.0,
        "los gatos": 126043.0,
        "los olivos": 130078.0,
        "los osos": 74235.5,
        "lost hills": 36199.0,
        "lucerne valley": 40260.0,
        "lynwood": 41161.4,
        "madera": 54237.86,
        "magalia": 49279.0,
        "mammoth lakes": 75375.0,
        "manhattan beach": 162495.25,
        "manteca": 59583.5,
        "manton": 51540.0,
        "marina": 54805.0,
        "marina del rey": 129091.0,
        "martinez": 81559.4,
        "marysville": 52172.0,
        "mather": 106418.0,
        "maywood": 37726.67,
        "mcarthur": 62566.0,
        "mcfarland": 41606.0,
        "mckinleyville": 51618.0,
        "mckittrick": 64762.0,
        "meadow vista": 104362.5,
        "mendota": 40404.0,
        "menifee": 80746.5,
        "menlo park": 146571.5,
        "merced": 45038.82,
        "midway city": 74240.0,
        "mill valley": 108020.0,
        "millbrae": 107565.0,
        "milpitas": 119131.6,
        "mission hills": 84635.0,
        "mission viejo": 128766.0,
        "modesto": 58324.9,
        "monrovia": 75942.25,
        "montague": 51585.0,
        "montclair": 57209.67,
        "monte rio": 51503.0,
        "montebello": 53451.67,
        "monterey": 59392.0,
        "monterey park": 75413.17,
        "moorpark": 125805.67,
        "moraga": 171929.0,
        "moreno valley": 60341.64,
        "morgan hill": 95157.75,
        "morro bay": 49203.0,
        "mountain view": 112980.67,
        "mt. baldy": 76889.0,
        "murrieta": 75272.86,
        "napa": 96176.91,
        "national city": 53709.0,
        "nevada city": 84697.0,
        "new pine creek": 39439.0,
        "newark": 85735.0,
        "newbury park": 111982.0,
        "newhall": 87129.25,
        "newman": 51449.0,
        "newport beach": 94533.0,
        "nipomo": 71421.0,
        "norco": 113548.5,
        "north fork": 48669.0,
        "north highlands": 42629.5,
        "north hills": 85276.25,
        "north hollywood": 63557.59,
        "northridge": 87760.5,
        "norwalk": 66791.56,
        "novato": 109602.67,
        "nuevo": 75568.0,
        "oak hills": 87622.0,
        "oak park": 137752.0,
        "oak view": 56043.0,
        "oakdale": 43765.0,
        "oakhurst": 69995.0,
        "oakland": 74826.14,
        "oakley": 78430.5,
        "oceano": 50769.0,
        "oceanside": 64538.08,
        "ojai": 65646.0,
        "olivehurst": 38395.5,
        "ontario": 60365.69,
        "orange": 91739.17,
        "orange cove": 36480.0,
        "orangevale": 66403.5,
        "orcutt": 83220.33,
        "orinda": 150793.75,
        "orosi": 46714.0,
        "oroville": 51164.2,
        "oxnard": 75367.07,
        "pacific grove": 101456.67,
        "pacific palisades": 137489.0,
        "pacifica": 102241.0,
        "pacoima": 54623.67,
        "pacomia": 93735.0,
        "paicines": 87929.0,
        "palermo": 44454.0,
        "palm desert": 86266.0,
        "palm springs": 68161.43,
        "palmdale": 58094.11,
        "palo alto": 131706.11,
        "palos verdes estates": 150223.0,
        "panorama city": 54245.8,
        "paradise": 71792.0,
        "paramount": 54826.43,
        "parlier": 52422.5,
        "pasadena": 82274.25,
        "paso robles": 78132.67,
        "patterson": 71923.0,
        "pauma valley": 78807.0,
        "penn valley": 77092.0,
        "perris": 58194.5,
        "petaluma": 91504.11,
        "phelan": 64315.0,
        "pico rivera": 70535.14,
        "piedmont": 130069.0,
        "pine valley": 26849.0,
        "piru": 57660.0,
        "pismo beach": 95542.0,
        "pittsburg": 71424.8,
        "placentia": 99860.18,
        "placerville": 73195.8,
        "playa del rey": 123371.0,
        "playa vista": 110536.0,
        "pleasant hill": 89125.5,
        "pleasanton": 126645.75,
        "plumas lake": 64519.0,
        "point arena": 52057.0,
        "pomona": 61822.18,
        "port hueneme": 63370.5,
        "porterville": 35312.67,
        "portola valley": 177665.0,
        "poway": 89710.5,
        "princeton": 64022.0,
        "quincy": 64680.67,
        "rail road flat": 47235.5,
        "raisin city": 46691.0,
        "ramona": 85687.67,
        "rancho cordova": 53107.6,
        "rancho cucamonga": 72495.2,
        "rancho mirage": 75123.0,
        "rancho palos verdes": 129413.5,
        "rancho santa fe": 109128.0,
        "rancho santa margarita": 120556.4,
        "ravendale": 51826.0,
        "red bluff": 43838.33,
        "redding": 57592.9,
        "redlands": 88558.12,
        "redondo beach": 116038.86,
        "redway": 50177.0,
        "redwood city": 106888.33,
        "redwood valley": 84082.0,
        "reedley": 75487.0,
        "reseda": 74054.5,
        "rialto": 63936.29,
        "richmond": 64711.56,
        "ridgecrest": 53320.0,
        "rio dell": 45122.0,
        "rio linda": 59844.67,
        "ripon": 110209.0,
        "riverbank": 96840.5,
        "riverdale": 53317.0,
        "riverside": 67173.48,
        "rocklin": 104416.5,
        "rodeo": 63297.0,
        "rohnert park": 80212.2,
        "rosamond": 57877.0,
        "rosemead": 65660.33,
        "roseville": 95488.64,
        "ross": 164985.0,
        "rowland heights": 86717.0,
        "sacramento": 64649.95,
        "salinas": 73160.42,
        "san anselmo": 128552.33,
        "san bernardino": 45236.62,
        "san bruno": 110563.0,
        "san carlos": 101562.0,
        "san clemente": 111883.75,
        "san diego": 85061.72,
        "san dimas": 85523.8,
        "san fernando": 72350.5,
        "san francisco": 100856.92,
        "san gabriel": 95248.0,
        "san jacinto": 51723.5,
        "san joaquin": 36488.0,
        "san jose": 100633.88,
        "san juan capistrano": 74701.0,
        "san leandro": 83304.0,
        "san lorenzo": 77037.5,
        "san luis obispo": 56946.2,
        "san marcos": 64426.25,
        "san marino": 156600.0,
        "san mateo": 130092.3,
        "san miguel": 62308.0,
        "san pablo": 53618.2,
        "san pedro": 83938.25,
        "san rafael": 86090.14,
        "san ramon": 117885.4,
        "san ysidro": 34270.0,
        "sanger": 60319.33,
        "santa ana": 73419.91,
        "santa barbara": 91477.5,
        "santa clara": 123682.09,
        "santa clarita": 92791.0,
        "santa cruz": 73391.21,
        "santa fe springs": 76128.0,
        "santa margarita": 84915.0,
        "santa maria": 68236.56,
        "santa monica": 110739.9,
        "santa paula": 72520.33,
        "santa rosa": 73909.22,
        "santee": 102443.67,
        "saratoga": 160094.67,
        "saugus": 109633.0,
        "sausalito": 82460.5,
        "scotia": 64765.0,
        "seal beach": 85255.0,
        "seaside": 61873.5,
        "sebastopol": 85159.33,
        "seeley": 40304.0,
        "selma": 51295.5,
        "shafter": 42904.0,
        "shasta": 83754.0,
        "sherman oaks": 112072.5,
        "shingle springs": 82758.0,
        "shingletown": 52956.0,
        "shoshone": 36485.0,
        "sierra madre": 122326.0,
        "signal hill": 78694.0,
        "simi valley": 112996.18,
        "solana beach": 152893.0,
        "somerset": 48136.0,
        "sonoma": 83941.67,
        "sonora": 61861.5,
        "soquel": 116756.0,
        "south el monte": 46816.0,
        "south gate": 56222.38,
        "south lake tahoe": 81722.33,
        "south pasadena": 74402.0,
        "south san francisco": 95084.2,
        "south san gabriel": 67295.0,
        "st. helena": 107845.0,
        "stanton": 64921.5,
        "stevenson ranch": 140115.0,
        "stewarts point": 87611.0,
        "stockton": 57924.5,
        "strathmore": 79255.0,
        "studio city": 119846.5,
        "suisun city": 50616.0,
        "sun city": 62263.0,
        "sun valley": 71925.2,
        "sunland": 79207.0,
        "sunnyvale": 121553.5,
        "susanville": 60707.0,
        "sylmar": 77652.33,
        "taft": 62623.0,
        "tarzana": 92449.0,
        "tehachapi": 83063.0,
        "temecula": 90186.25,
        "temple city": 71450.29,
        "terra bella": 38206.0,
        "thermal": 75619.0,
        "thousand oaks": 92375.4,
        "thousand palms": 43007.0,
        "tiburon": 142862.0,
        "tipton": 39623.0,
        "tollhouse": 107612.0,
        "topanga": 136693.0,
        "torrance": 94377.89,
        "trabuco canyon": 99883.0,
        "tracy": 84638.88,
        "travis afb": 85569.0,
        "trinidad": 59154.0,
        "trinity center": 46578.0,
        "truckee": 64632.33,
        "tujunga": 67688.5,
        "tulare": 49913.6,
        "tulelake": 35980.0,
        "tuolumne": 73658.5,
        "turlock": 51614.71,
        "tustin": 104679.6,
        "twentynine palms": 49299.33,
        "ukiah": 59409.5,
        "union city": 126666.0,
        "upland": 85846.83,
        "vacaville": 97866.0,
        "valencia": 105715.0,
        "vallejo": 72252.93,
        "valley center": 85544.0,
        "valley home": 88379.0,
        "valley springs": 93225.0,
        "van nuys": 69274.24,
        "venice": 99863.33,
        "ventura": 70730.44,
        "victorville": 56459.71,
        "visalia": 54387.69,
        "vista": 73599.12,
        "walnut": 105040.0,
        "walnut creek": 118624.6,
        "wasco": 47921.0,
        "watsonville": 68920.56,
        "weimar": 76672.0,
        "weldon": 37787.67,
        "west covina": 87499.3,
        "west hills": 81006.4,
        "west hollywood": 64099.5,
        "west sacramento": 75391.0,
        "westlake village": 112243.5,
        "westley": 46187.0,
        "westminster": 70310.33,
        "wheatland": 64580.0,
        "whittier": 76287.94,
        "wildomar": 64023.5,
        "williams": 110458.0,
        "willits": 34865.0,
        "willow creek": 35613.0,
        "willows": 59532.0,
        "wilmington": 49537.33,
        "winchester": 117607.0,
        "windsor": 90040.0,
        "winters": 76882.0,
        "woodlake": 68572.0,
        "woodland": 69934.4,
        "woodland hills": 103284.5,
        "yettem": 40535.0,
        "yorba linda": 137065.5,
        "yosemite": 54485.0,

## Merge Housing Prices and Income to turn into JSON file

In [18]:
with open("city_avgPrice.json", 'r') as f:
    cities_home_prices = json.load(f)

extracted_prices = []

for state, cities_data in cities_home_prices.items():
    for city, price in cities_data.items():
        extracted_prices.append({
            'state': state,
            'city': city,
            'Average Price': price
        })

for item in extracted_prices:
    print(f"State: {item['state']}, City: {item['city']}, Average Price: {item['Average Price']}")

housing_df = pd.DataFrame(extracted_prices)
housing_df

State: CA, City: 29 palms, Average Price: 68970.53
State: CA, City: acampo, Average Price: 762796.57
State: CA, City: acton, Average Price: 704409.13
State: CA, City: adelaide, Average Price: 1890300.0
State: CA, City: adelanto, Average Price: 330053.21
State: CA, City: adin, Average Price: 441944.44
State: CA, City: agoura hills, Average Price: 1457051.42
State: CA, City: agua dulce, Average Price: 1149721.7
State: CA, City: aguanga, Average Price: 298430.58
State: CA, City: ahwahnee, Average Price: 426491.18
State: CA, City: alameda, Average Price: 1121272.61
State: CA, City: alamo, Average Price: 4364938.69
State: CA, City: albany, Average Price: 1018970.86
State: CA, City: albion, Average Price: 962818.18
State: CA, City: alderpoint, Average Price: 217222.22
State: CA, City: alhambra, Average Price: 1021538.51
State: CA, City: aliso viejo, Average Price: 946978.4
State: CA, City: alpaugh, Average Price: 8559900.0
State: CA, City: alpine, Average Price: 1026568.82
State: CA, City: alpine meadows, Average Price: 2033500.0
State: CA, City: alpine village, Average Price: 150000.0
State: CA, City: alta, Average Price: 373254.45
State: CA, City: alta loma, Average Price: 835285.78
State: CA, City: altadena, Average Price: 1349019.42
State: CA, City: alturas, Average Price: 104850.81
State: CA, City: alviso, Average Price: 1225000.0
State: CA, City: amador city, Average Price: 327000.0
State: CA, City: amboy, Average Price: 42500.0
State: CA, City: american canyon, Average Price: 1002626.67
State: CA, City: anaheim, Average Price: 950574.16
State: CA, City: anderson, Average Price: 542865.38
State: CA, City: angels camp, Average Price: 598897.4
State: CA, City: angelus oaks, Average Price: 316699.92
State: CA, City: angwin, Average Price: 3076062.44
State: CA, City: antelope, Average Price: 558261.04
State: CA, City: antioch, Average Price: 688440.04
State: CA, City: anza, Average Price: 312691.72
State: CA, City: apple valley, Average Price: 385710.7
State: CA, City: applegate, Average Price: 641766.67
State: CA, City: aptos, Average Price: 2524826.13
State: CA, City: aqueduct city, Average Price: 41500.0
State: CA, City: arboga, Average Price: 499365.0
State: CA, City: arbuckle, Average Price: 601166.33
State: CA, City: arcadia, Average Price: 2784670.4
State: CA, City: arcata, Average Price: 697800.0
State: CA, City: armona, Average Price: 334377.78
State: CA, City: arnold, Average Price: 354038.8
State: CA, City: aromas, Average Price: 941250.0
State: CA, City: arrow bear, Average Price: 25000.0
State: CA, City: arrowbear lake, Average Price: 354316.67
State: CA, City: arroyo grande, Average Price: 1172564.77
State: CA, City: artesia, Average Price: 1174378.33
State: CA, City: artois, Average Price: 559000.0
State: CA, City: arvin, Average Price: 702318.81
State: CA, City: atascadero, Average Price: 812822.76
State: CA, City: atherton, Average Price: 20600160.44
State: CA, City: atwater, Average Price: 550539.04
State: CA, City: auberry, Average Price: 330672.38
State: CA, City: auburn, Average Price: 1034415.13
State: CA, City: avalon, Average Price: 1569707.14
State: CA, City: avenal, Average Price: 267775.93
State: CA, City: avery, Average Price: 61316.67
State: CA, City: avila beach, Average Price: 2091144.85
State: CA, City: azusa, Average Price: 964243.71
State: CA, City: badger, Average Price: 2459500.0
State: CA, City: baker, Average Price: 324000.0
State: CA, City: bakersfield, Average Price: 445573.63
State: CA, City: baldwin lake, Average Price: 70000.0
State: CA, City: baldwin park, Average Price: 833294.88
State: CA, City: ballico, Average Price: 680000.0
State: CA, City: bangor, Average Price: 380150.0
State: CA, City: banning, Average Price: 376601.95
State: CA, City: barstow, Average Price: 253672.47
State: CA, City: bass lake, Average Price: 1512323.53
State: CA, City: bay point, Average Price: 535143.53
State: CA, City: bear valley, Average Price: 261250.0
State: CA, City: bear valley springs, Average Price: 18000.0
State: CA, City: beaumont, Average Price: 559501.2
State: CA, City: beckwourth, Average Price: 620427.86
State: CA, City: bell, Average Price: 1635739.9
State: CA, City: bell canyon, Average Price: 1744368.32
State: CA, City: bell gardens, Average Price: 1219657.14
State: CA, City: bella vista, Average Price: 458259.67
State: CA, City: bellflower, Average Price: 1182913.77
State: CA, City: belmont, Average Price: 2020015.74
State: CA, City: belvedere, Average Price: 26333333.33
State: CA, City: belvedere tiburon, Average Price: 8161086.96
State: CA, City: ben lomond, Average Price: 660611.11
State: CA, City: benicia, Average Price: 956827.88
State: CA, City: benton, Average Price: 238000.0
State: CA, City: berkeley, Average Price: 1575517.9
State: CA, City: bermuda dunes, Average Price: 925461.54
State: CA, City: berry creek, Average Price: 136792.95
State: CA, City: bethel island, Average Price: 587366.41
State: CA, City: beverly hills, Average Price: 13174166.58
State: CA, City: bieber, Average Price: 2581400.0
State: CA, City: big bar, Average Price: 203990.0
State: CA, City: big bear, Average Price: 149950.0
State: CA, City: big bear city, Average Price: 506125.05
State: CA, City: big bear lake, Average Price: 857765.6
State: CA, City: big bend, Average Price: 225000.0
State: CA, City: big oak flat, Average Price: 247100.0
State: CA, City: big pine, Average Price: 228983.33
State: CA, City: big river, Average Price: 290281.82
State: CA, City: big sur, Average Price: 9498400.0
State: CA, City: biggs, Average Price: 683164.29
State: CA, City: bishop, Average Price: 388610.85
State: CA, City: blairsden, Average Price: 341333.33
State: CA, City: blairsden graeagle, Average Price: 590741.18
State: CA, City: blocksburg, Average Price: 237000.0
State: CA, City: bloomington, Average Price: 596140.14
State: CA, City: blue jay, Average Price: 542000.0
State: CA, City: blue lake, Average Price: 630000.0
State: CA, City: blythe, Average Price: 491692.85
State: CA, City: bodega bay, Average Price: 1839285.71
State: CA, City: bodfish, Average Price: 140864.22
State: CA, City: bolinas, Average Price: 1648000.0
State: CA, City: bombay beach, Average Price: 55000.0
State: CA, City: bonita, Average Price: 1210394.12
State: CA, City: bonny doon, Average Price: 1550000.0
State: CA, City: bonsall, Average Price: 995516.36
State: CA, City: boonville, Average Price: 1296500.0
State: CA, City: boron, Average Price: 83411.14
State: CA, City: borrego springs, Average Price: 167710.2
State: CA, City: boulder creek, Average Price: 446324.0
State: CA, City: boulevard, Average Price: 524112.12
State: CA, City: bradbury, Average Price: 6889583.33
State: CA, City: bradley, Average Price: 516151.04
State: CA, City: branscomb, Average Price: 350000.0
State: CA, City: brawley, Average Price: 293463.85
State: CA, City: brea, Average Price: 1071916.92
State: CA, City: brentwood, Average Price: 982913.44
State: CA, City: bridgeport, Average Price: 357285.29
State: CA, City: bridgeville, Average Price: 574099.48
State: CA, City: briones, Average Price: 1699000.0
State: CA, City: brisbane, Average Price: 1182000.0
State: CA, City: brookdale, Average Price: 283250.0
State: CA, City: browns valley, Average Price: 582939.04
State: CA, City: brownsville, Average Price: 437908.33
State: CA, City: bryn mawr, Average Price: 435000.0
State: CA, City: bucks lake, Average Price: 30000.0
State: CA, City: buellton, Average Price: 2554350.0
State: CA, City: buena park, Average Price: 939256.28
State: CA, City: burbank, Average Price: 1454594.5
State: CA, City: burlingame, Average Price: 2665362.42
State: CA, City: burney, Average Price: 155425.0
State: CA, City: burnt ranch, Average Price: 451642.86
State: CA, City: burson, Average Price: 487833.33
State: CA, City: butte valley, Average Price: 1127000.0
State: CA, City: buttonwillow, Average Price: 1430960.0
State: CA, City: byron, Average Price: 3165636.0
State: CA, City: cabazon, Average Price: 256660.85
State: CA, City: calabasas, Average Price: 3208543.44
State: CA, City: calexico, Average Price: 488227.44
State: CA, City: caliente, Average Price: 737633.59
State: CA, City: calif city, Average Price: 20000.0
State: CA, City: california city, Average Price: 133410.91
State: CA, City: california hot springs, Average Price: 204800.0
State: CA, City: california valley, Average Price: 15000.0
State: CA, City: calimesa, Average Price: 395638.54
State: CA, City: calipatria, Average Price: 259612.5
State: CA, City: calistoga, Average Price: 3527174.07
State: CA, City: calpine, Average Price: 358285.71
State: CA, City: camarillo, Average Price: 1165039.08
State: CA, City: cambria, Average Price: 1232530.43
State: CA, City: cameron park, Average Price: 728382.44
State: CA, City: camino, Average Price: 682891.3
State: CA, City: camp connell, Average Price: 414011.11
State: CA, City: camp meeker, Average Price: 284500.0
State: CA, City: campbell, Average Price: 1728907.85
State: CA, City: campo, Average Price: 376943.0
State: CA, City: campo seco, Average Price: 675000.0
State: CA, City: camptonville, Average Price: 285377.78
State: CA, City: canby, Average Price: 111250.0
State: CA, City: canoga park, Average Price: 1031366.86
State: CA, City: cantil, Average Price: 195684.0
State: CA, City: cantua creek, Average Price: 165833.33
State: CA, City: canyon country, Average Price: 830387.27
State: CA, City: canyon dam, Average Price: 29500.0
State: CA, City: canyon lake, Average Price: 607704.83
State: CA, City: capay, Average Price: 1484460.0
State: CA, City: capistrano beach, Average Price: 2099750.0
State: CA, City: capitola, Average Price: 1300000.0
State: CA, City: cardiff, Average Price: 2761500.0
State: CA, City: cardiff by the sea, Average Price: 3041375.0
State: CA, City: carlotta, Average Price: 620989.9
State: CA, City: carlsbad, Average Price: 1614244.83
State: CA, City: carmel, Average Price: 2834574.46
State: CA, City: carmel by the sea, Average Price: 3981900.0
State: CA, City: carmel valley, Average Price: 3472294.27
State: CA, City: carmichael, Average Price: 665595.32
State: CA, City: carnelian bay, Average Price: 1209888.89
State: CA, City: carpinteria, Average Price: 15195411.11
State: CA, City: carson, Average Price: 704021.03
State: CA, City: caruthers, Average Price: 586199.92
State: CA, City: cassel, Average Price: 682500.0
State: CA, City: castaic, Average Price: 825167.13
State: CA, City: castella, Average Price: 759333.33
State: CA, City: castro valley, Average Price: 1393548.47
State: CA, City: castroville, Average Price: 442544.44
State: CA, City: cathedral city, Average Price: 400310.64
State: CA, City: catheys valley, Average Price: 723550.0
State: CA, City: cayucos, Average Price: 1412668.57
State: CA, City: cazadero, Average Price: 509588.24
State: CA, City: cedar glen, Average Price: 203473.87
State: CA, City: cedarpines park, Average Price: 180422.96
State: CA, City: cedarville, Average Price: 303800.0
State: CA, City: ceres, Average Price: 587679.68
State: CA, City: cerritos, Average Price: 1132002.02
State: CA, City: challenge, Average Price: 268300.0
State: CA, City: chatsworth, Average Price: 1231431.47
State: CA, City: cherokee, Average Price: 169500.0
State: CA, City: cherry valley, Average Price: 925739.85
State: CA, City: chester, Average Price: 290374.04
State: CA, City: chico, Average Price: 651668.45
State: CA, City: chilcoot, Average Price: 313250.0
State: CA, City: chino, Average Price: 778396.44
State: CA, City: chino hills, Average Price: 1019933.77
State: CA, City: chowchilla, Average Price: 562144.82
State: CA, City: chualar, Average Price: 2495000.0
State: CA, City: chula vista, Average Price: 848840.48
State: CA, City: citrus heights, Average Price: 471937.01
State: CA, City: claremont, Average Price: 1092505.81
State: CA, City: clarksburg, Average Price: 1540180.0
State: CA, City: clayton, Average Price: 1161237.14
State: CA, City: clearlake, Average Price: 314843.81
State: CA, City: clearlake oaks, Average Price: 223574.9
State: CA, City: clearlake park, Average Price: 349900.0
State: CA, City: clements, Average Price: 1464271.43
State: CA, City: clio, Average Price: 399307.89
State: CA, City: clipper mills, Average Price: 138357.14
State: CA, City: cloverdale, Average Price: 1358954.35
State: CA, City: clovis, Average Price: 695693.8
State: CA, City: coachella, Average Price: 986253.83
State: CA, City: coalinga, Average Price: 562206.2
State: CA, City: coarsegold, Average Price: 504500.44
State: CA, City: cobb, Average Price: 194255.04
State: CA, City: cohasset, Average Price: 374125.0
State: CA, City: cold springs, Average Price: 1682500.0
State: CA, City: coleville, Average Price: 146163.64
State: CA, City: colfax, Average Price: 605460.31
State: CA, City: colma, Average Price: 1626500.0
State: CA, City: coloma, Average Price: 487450.0
State: CA, City: colton, Average Price: 481868.24
State: CA, City: columbia, Average Price: 376850.0
State: CA, City: colusa, Average Price: 684081.82
State: CA, City: commerce, Average Price: 732249.75
State: CA, City: comptche, Average Price: 1355333.33
State: CA, City: compton, Average Price: 618570.45
State: CA, City: concord, Average Price: 763175.59
State: CA, City: cool, Average Price: 762581.48
State: CA, City: copperopolis, Average Price: 450464.0
State: CA, City: corcoran, Average Price: 209351.8
State: CA, City: corning, Average Price: 244107.07
State: CA, City: corona, Average Price: 867840.31
State: CA, City: corona del mar, Average Price: 7550522.69
State: CA, City: coronado, Average Price: 5265948.26
State: CA, City: corte madera, Average Price: 1771615.38
State: CA, City: costa mesa, Average Price: 1404238.33
State: CA, City: cotati, Average Price: 1045421.43
State: CA, City: cottonwood, Average Price: 459494.17
State: CA, City: coulterville, Average Price: 372005.38
State: CA, City: covelo, Average Price: 690966.67
State: CA, City: covina, Average Price: 891139.21
State: CA, City: crescent city, Average Price: 345359.59
State: CA, City: crescent mills, Average Price: 332180.0
State: CA, City: crestline, Average Price: 333452.35
State: CA, City: crestmore, Average Price: 429500.0
State: CA, City: creston, Average Price: 1321900.0
State: CA, City: crockett, Average Price: 688000.0
State: CA, City: cromberg, Average Price: 539625.0
State: CA, City: crowley lake, Average Price: 862333.33
State: CA, City: crows landing, Average Price: 1750000.0
State: CA, City: cudahy, Average Price: 1929090.0
State: CA, City: culver city, Average Price: 1646298.33
State: CA, City: cupertino, Average Price: 3075091.24
State: CA, City: cutler, Average Price: 611374.33
State: CA, City: cuyama, Average Price: 350000.0
State: CA, City: cypress, Average Price: 917603.82
State: CA, City: daggett, Average Price: 306191.5
State: CA, City: daly city, Average Price: 1158164.39
State: CA, City: dana point, Average Price: 3957959.43
State: CA, City: dana pt, Average Price: 2820190.09
State: CA, City: danville, Average Price: 2386212.86
State: CA, City: davenport, Average Price: 1132000.0
State: CA, City: davis, Average Price: 1038335.7
State: CA, City: davis creek, Average Price: 653000.0
State: CA, City: deer park, Average Price: 10175000.0
State: CA, City: del mar, Average Price: 7427883.12
State: CA, City: del rey, Average Price: 477333.33
State: CA, City: del rey oaks, Average Price: 789200.0
State: CA, City: del sur, Average Price: 700000.0
State: CA, City: delano, Average Price: 537137.0
State: CA, City: delhi, Average Price: 698581.82
State: CA, City: delleker, Average Price: 112816.67
State: CA, City: denair, Average Price: 516688.43
State: CA, City: descanso, Average Price: 627974.67
State: CA, City: desert center, Average Price: 837874.88
State: CA, City: desert heights, Average Price: 33000.0
State: CA, City: desert hot springs, Average Price: 366914.87
State: CA, City: devore, Average Price: 502475.0
State: CA, City: diablo, Average Price: 2558000.0
State: CA, City: diamond bar, Average Price: 1183199.64
State: CA, City: diamond springs, Average Price: 439317.86
State: CA, City: dillon beach, Average Price: 350000.0
State: CA, City: dinuba, Average Price: 423584.08
State: CA, City: discovery bay, Average Price: 1042827.38
State: CA, City: dixon, Average Price: 740678.53
State: CA, City: dobbins, Average Price: 230466.6
State: CA, City: dorris, Average Price: 1377735.6
State: CA, City: dos palos, Average Price: 781299.96
State: CA, City: dos rios, Average Price: 459000.0
State: CA, City: douglas city, Average Price: 418123.91
State: CA, City: downey, Average Price: 1102242.94
State: CA, City: downieville, Average Price: 90749.5
State: CA, City: doyle, Average Price: 151333.33
State: CA, City: duarte, Average Price: 957969.0
State: CA, City: dublin, Average Price: 1428745.11
State: CA, City: ducor, Average Price: 4900000.0
State: CA, City: dulzura, Average Price: 300960.0
State: CA, City: dunlap, Average Price: 911350.0
State: CA, City: dunsmuir, Average Price: 436994.44
State: CA, City: durham, Average Price: 624500.0
State: CA, City: dutch flat, Average Price: 522150.0
State: CA, City: earlimart, Average Price: 1017864.67
State: CA, City: earp, Average Price: 103487.5
State: CA, City: east garrison, Average Price: 895000.0
State: CA, City: east palo alto, Average Price: 1751946.74
State: CA, City: east quincy, Average Price: 311500.0
State: CA, City: eastvale, Average Price: 236893.27
State: CA, City: echo lake, Average Price: 3688000.0
State: CA, City: edwards, Average Price: 101999.77
State: CA, City: el cajon, Average Price: 692722.79
State: CA, City: el centro, Average Price: 547866.06
State: CA, City: el cerrito, Average Price: 1043611.05
State: CA, City: el dorado, Average Price: 532429.96
State: CA, City: el dorado hills, Average Price: 1254991.57
State: CA, City: el dorado hls, Average Price: 175000.0
State: CA, City: el granada, Average Price: 738000.0
State: CA, City: el macero, Average Price: 1140000.0
State: CA, City: el mirage, Average Price: 181857.0
State: CA, City: el monte, Average Price: 919886.33
State: CA, City: el nido, Average Price: 3675000.0
State: CA, City: el segundo, Average Price: 1910490.91
State: CA, City: el sobrante, Average Price: 773909.6
State: CA, City: el toro, Average Price: 639000.0
State: CA, City: elizabeth lake, Average Price: 421800.0
State: CA, City: elk, Average Price: 1842500.0
State: CA, City: elk creek, Average Price: 655750.0
State: CA, City: elk grove, Average Price: 765303.0
State: CA, City: elverta, Average Price: 1155187.29
State: CA, City: emerald hills, Average Price: 2999000.0
State: CA, City: emeryville, Average Price: 660648.89
State: CA, City: emigrant gap, Average Price: 416666.67
State: CA, City: empire, Average Price: 427950.0
State: CA, City: encinitas, Average Price: 2653705.37
State: CA, City: encino, Average Price: 3343712.55
State: CA, City: escalon, Average Price: 1185482.4
State: CA, City: escondido, Average Price: 959383.66
State: CA, City: esparto, Average Price: 1133486.83
State: CA, City: essex, Average Price: 46983.33
State: CA, City: etiwanda, Average Price: 982636.36
State: CA, City: etna, Average Price: 311666.67
State: CA, City: eureka, Average Price: 673742.21
State: CA, City: exeter, Average Price: 556150.89
State: CA, City: fair oaks, Average Price: 682189.28
State: CA, City: fairfax, Average Price: 1249916.0
State: CA, City: fairfield, Average Price: 901122.54
State: CA, City: fairmont, Average Price: 40000.0
State: CA, City: fall river mills, Average Price: 694815.79
State: CA, City: fallbrook, Average Price: 1097401.99
State: CA, City: farmersville, Average Price: 233933.33
State: CA, City: farmington, Average Price: 3528805.0
State: CA, City: fawnskin, Average Price: 432455.48
State: CA, City: fellows, Average Price: 115966.67
State: CA, City: felton, Average Price: 758051.96
State: CA, City: ferndale, Average Price: 1693714.29
State: CA, City: fiddletown, Average Price: 438928.57

     state               city  Average Price
0       CA           29 palms       68970.53
1       CA             acampo      762796.57
2       CA              acton      704409.13
3       CA           adelaide     1890300.00
4       CA           adelanto      330053.21
...    ...                ...            ...
3543    LA          woodworth      148142.86
3544    LA  worthington hills      130000.00
3545    LA        youngsville      331443.28
3546    LA            zachary      337333.95
3547    LA             zwolle      242299.95

[3548 rows x 3 columns]

In [19]:
with open('city_avgIncome.json', 'r') as f:
    cities_average_incomes = json.load(f)

extracted_income = []

for state, cities_data in cities_average_incomes.items():
    for city, value in cities_data.items():
        extracted_income.append({
            'state': state,
            'city': city,
            'Average Income': value
        })

# Print or process the extracted income data
for item in extracted_income:
    print(f"State: {item['state']}, City: {item['city']}, Average Income: {item['Average Income']}")

extracted_income

State: CA, City: adelanto, Average Income: 36944.0
State: CA, City: agoura, Average Income: 140704.0
State: CA, City: agoura hills, Average Income: 182475.0
State: CA, City: agua dulce, Average Income: 91975.0
State: CA, City: aguanga, Average Income: 64425.0
State: CA, City: alameda, Average Income: 89726.38
State: CA, City: albany, Average Income: 98633.0
State: CA, City: alhambra, Average Income: 75486.22
State: CA, City: aliso viejo, Average Income: 90167.0
State: CA, City: alpine, Average Income: 91662.0
State: CA, City: alta, Average Income: 64090.67
State: CA, City: alta loma, Average Income: 98738.17
State: CA, City: altadena, Average Income: 88514.0
State: CA, City: alviso, Average Income: 87293.0
State: CA, City: anaheim, Average Income: 72411.0
State: CA, City: anderson, Average Income: 56644.0
State: CA, City: angwin, Average Income: 79252.0
State: CA, City: antelope, Average Income: 71078.0
State: CA, City: antioch, Average Income: 60612.5
State: CA, City: anza, Average Income: 67770.0
State: CA, City: apple valley, Average Income: 62031.4
State: CA, City: aptos, Average Income: 72422.4
State: CA, City: arcadia, Average Income: 82843.6
State: CA, City: arcata, Average Income: 40289.0
State: CA, City: arleta, Average Income: 68519.0
State: CA, City: arroyo grande, Average Income: 76230.67
State: CA, City: artesia, Average Income: 76899.0
State: CA, City: arvin, Average Income: 53026.0
State: CA, City: atascadero, Average Income: 62049.0
State: CA, City: atherton, Average Income: 149965.0
State: CA, City: atwater, Average Income: 63003.5
State: CA, City: auburn, Average Income: 89314.67
State: CA, City: avalon, Average Income: 76075.0
State: CA, City: avenal, Average Income: 0.0
State: CA, City: avery, Average Income: 95870.67
State: CA, City: azusa, Average Income: 62324.4
State: CA, City: bakersfield, Average Income: 59350.87
State: CA, City: baldwin park, Average Income: 61803.67
State: CA, City: banning, Average Income: 28743.0
State: CA, City: barstow, Average Income: 50790.33
State: CA, City: bay point, Average Income: 78622.5
State: CA, City: beale afb, Average Income: 32499.0
State: CA, City: beaumont, Average Income: 53361.25
State: CA, City: bell, Average Income: 47286.0
State: CA, City: bell gardens, Average Income: 54055.0
State: CA, City: bella vista, Average Income: 64201.0
State: CA, City: bellflower, Average Income: 72411.44
State: CA, City: belmont, Average Income: 86987.0
State: CA, City: ben lomond, Average Income: 83248.0
State: CA, City: benicia, Average Income: 89735.67
State: CA, City: benton, Average Income: 72792.0
State: CA, City: berkeley, Average Income: 103222.1
State: CA, City: bermuda dunes, Average Income: 77483.0
State: CA, City: berry creek, Average Income: 52817.0
State: CA, City: beverly hills, Average Income: 111655.67
State: CA, City: bieber, Average Income: 54602.0
State: CA, City: big bear lake, Average Income: 57474.0
State: CA, City: big bend, Average Income: 29530.0
State: CA, City: big creek, Average Income: 91840.0
State: CA, City: bishop, Average Income: 91625.0
State: CA, City: blocksburg, Average Income: 24830.0
State: CA, City: bloomington, Average Income: 58987.5
State: CA, City: blythe, Average Income: 51489.0
State: CA, City: bodega bay, Average Income: 32499.0
State: CA, City: bolinas, Average Income: 50086.5
State: CA, City: bonita, Average Income: 101129.0
State: CA, City: bonsall, Average Income: 74199.0
State: CA, City: borrego springs, Average Income: 41547.0
State: CA, City: brawley, Average Income: 70244.67
State: CA, City: brea, Average Income: 73237.33
State: CA, City: brentwood, Average Income: 106513.5
State: CA, City: bridgeville, Average Income: 39819.67
State: CA, City: buellton, Average Income: 80327.0
State: CA, City: buena park, Average Income: 75758.2
State: CA, City: burbank, Average Income: 73593.4
State: CA, City: burlingame, Average Income: 147438.5
State: CA, City: byron, Average Income: 86367.0
State: CA, City: calabasas, Average Income: 151185.0
State: CA, City: calexico, Average Income: 55842.5
State: CA, City: california city, Average Income: 49125.67
State: CA, City: calimesa, Average Income: 61578.0
State: CA, City: calistoga, Average Income: 88175.0
State: CA, City: camarillo, Average Income: 92316.0
State: CA, City: cambria, Average Income: 78162.0
State: CA, City: cameron park, Average Income: 122054.0
State: CA, City: campbell, Average Income: 111889.14
State: CA, City: camptonville, Average Income: 45763.0
State: CA, City: canby, Average Income: 40613.0
State: CA, City: canoga park, Average Income: 74876.71
State: CA, City: canyon country, Average Income: 93745.0
State: CA, City: capistrano beach, Average Income: 90785.0
State: CA, City: capitola, Average Income: 87396.0
State: CA, City: cardiff-by-the-sea, Average Income: 115526.0
State: CA, City: carlsbad, Average Income: 100168.71
State: CA, City: carmel, Average Income: 103464.0
State: CA, City: carmel valley, Average Income: 73412.0
State: CA, City: carmichael, Average Income: 67756.14
State: CA, City: carpinteria, Average Income: 88344.0
State: CA, City: carson, Average Income: 63984.0
State: CA, City: castaic, Average Income: 64217.0
State: CA, City: castro valley, Average Income: 96963.75
State: CA, City: castroville, Average Income: 63343.0
State: CA, City: cathedral city, Average Income: 55176.0
State: CA, City: catheys valley, Average Income: 69566.0
State: CA, City: cazadero, Average Income: 60396.5
State: CA, City: ceres, Average Income: 60523.5
State: CA, City: cerritos, Average Income: 92139.67
State: CA, City: challenge, Average Income: 40214.0
State: CA, City: chatsworth, Average Income: 88913.25
State: CA, City: chester, Average Income: 97160.5
State: CA, City: chico, Average Income: 79356.4
State: CA, City: chino, Average Income: 89300.92
State: CA, City: chino hills, Average Income: 59836.0
State: CA, City: chowchilla, Average Income: 44473.67
State: CA, City: chula vista, Average Income: 77633.41
State: CA, City: citrus heights, Average Income: 55089.75
State: CA, City: city of industry, Average Income: 72912.0
State: CA, City: claremont, Average Income: 80489.0
State: CA, City: clayton, Average Income: 119428.5
State: CA, City: clearlake, Average Income: 41732.0
State: CA, City: clearlake oaks, Average Income: 46508.0
State: CA, City: cloverdale, Average Income: 65845.0
State: CA, City: clovis, Average Income: 68761.0
State: CA, City: coachella, Average Income: 42170.5
State: CA, City: coalinga, Average Income: 95126.0
State: CA, City: colfax, Average Income: 62241.0
State: CA, City: colma, Average Income: 86745.5
State: CA, City: colton, Average Income: 46271.2
State: CA, City: compton, Average Income: 52853.5
State: CA, City: concord, Average Income: 88914.77
State: CA, City: cool, Average Income: 93996.0
State: CA, City: corcoran, Average Income: 48378.0
State: CA, City: corning, Average Income: 42098.5
State: CA, City: corona, Average Income: 86253.71
State: CA, City: coronado, Average Income: 109138.0
State: CA, City: corte madera, Average Income: 153399.0
State: CA, City: costa mesa, Average Income: 109889.73
State: CA, City: cotati, Average Income: 46420.0
State: CA, City: coto de caza, Average Income: 156168.0
State: CA, City: cottonwood, Average Income: 61149.33
State: CA, City: coulterville, Average Income: 63827.0
State: CA, City: covina, Average Income: 83829.57
State: CA, City: crescent city, Average Income: 57953.0
State: CA, City: creston, Average Income: 80023.0
State: CA, City: crockett, Average Income: 89975.0
State: CA, City: cudahy, Average Income: 46995.25
State: CA, City: culver city, Average Income: 115271.5
State: CA, City: cupertino, Average Income: 151270.83
State: CA, City: cypress, Average Income: 163746.5
State: CA, City: daly city, Average Income: 101587.57
State: CA, City: dana point, Average Income: 99085.0
State: CA, City: danville, Average Income: 143481.0
State: CA, City: davis, Average Income: 72537.8
State: CA, City: del mar, Average Income: 131231.0
State: CA, City: delano, Average Income: 29954.0
State: CA, City: denair, Average Income: 105985.0
State: CA, City: desert hot springs, Average Income: 45601.5
State: CA, City: diamond bar, Average Income: 96565.0
State: CA, City: dinuba, Average Income: 56137.0
State: CA, City: dixon, Average Income: 74476.5
State: CA, City: dos palos, Average Income: 55580.5
State: CA, City: downey, Average Income: 83078.19
State: CA, City: downieville, Average Income: 21163.0
State: CA, City: duarte, Average Income: 77921.25
State: CA, City: dublin, Average Income: 110983.5
State: CA, City: ducor, Average Income: 31274.0
State: CA, City: dunsmuir, Average Income: 45774.0
State: CA, City: earlimart, Average Income: 37464.0
State: CA, City: east palo alto, Average Income: 59653.0
State: CA, City: eastvale, Average Income: 113676.0
State: CA, City: edgewood, Average Income: 53251.0
State: CA, City: el cajon, Average Income: 77735.25
State: CA, City: el centro, Average Income: 44411.5
State: CA, City: el cerrito, Average Income: 91020.75
State: CA, City: el dorado hills, Average Income: 151688.33
State: CA, City: el monte, Average Income: 58231.64
State: CA, City: el segundo, Average Income: 107331.0
State: CA, City: elk creek, Average Income: 53148.0
State: CA, City: elk grove, Average Income: 89429.4
State: CA, City: emeryville, Average Income: 61154.0
State: CA, City: encinitas, Average Income: 117298.5
State: CA, City: encino, Average Income: 97549.4
State: CA, City: escalon, Average Income: 55907.0
State: CA, City: escondido, Average Income: 73626.07
State: CA, City: esparto, Average Income: 83250.0
State: CA, City: eureka, Average Income: 65540.71
State: CA, City: exeter, Average Income: 79757.0
State: CA, City: fair oaks, Average Income: 104319.75
State: CA, City: fairfield, Average Income: 73944.89
State: CA, City: fall river mills, Average Income: 63828.0
State: CA, City: fallbrook, Average Income: 63353.33
State: CA, City: fillmore, Average Income: 66371.0
State: CA, City: firebaugh, Average Income: 59164.0
State: CA, City: five points, Average Income: 29663.0
State: CA, City: flournoy, Average Income: 55519.0
State: CA, City: folsom, Average Income: 94830.17
State: CA, City: fontana, Average Income: 58646.38
State: CA, City: forest falls, Average Income: 75910.0
State: CA, City: forestville, Average Income: 88066.0
State: CA, City: fort bragg, Average Income: 44250.33
State: CA, City: fort dick, Average Income: 65856.0
State: CA, City: fortuna, Average Income: 68994.0
State: CA, City: foster city, Average Income: 128534.33
State: CA, City: fountain valley, Average Income: 99421.75
State: CA, City: fowler, Average Income: 68012.0
State: CA, City: freedom, Average Income: 29985.0
State: CA, City: fremont, Average Income: 112430.47
State: CA, City: fresno, Average Income: 57730.15
State: CA, City: fullerton, Average Income: 79418.55
State: CA, City: galt, Average Income: 62077.0
State: CA, City: garden grove, Average Income: 68785.67
State: CA, City: gardena, Average Income: 62308.86
State: CA, City: gilroy, Average Income: 82760.6
State: CA, City: glen ellen, Average Income: 115139.0
State: CA, City: glendale, Average Income: 78447.12
State: CA, City: glendora, Average Income: 88983.12
State: CA, City: gold river, Average Income: 143292.0
State: CA, City: goleta, Average Income: 64325.2
State: CA, City: granada hills, Average Income: 95490.0
State: CA, City: grand terrace, Average Income: 57997.33
State: CA, City: granite bay, Average Income: 132808.0
State: CA, City: grass valley, Average Income: 68782.25
State: CA, City: greenfield, Average Income: 48881.0
State: CA, City: greenville, Average Income: 32933.33
State: CA, City: gridley, Average Income: 69574.0
State: CA, City: grizzly flat, Average Income: 80195.0
State: CA, City: grover beach, Average Income: 56701.0
State: CA, City: guadalupe, Average Income: 52410.0
State: CA, City: guerneville, Average Income: 61728.0
State: CA, City: gustine, Average Income: 46245.0
State: CA, City: hacienda heights, Average Income: 103234.25
State: CA, City: half moon bay, Average Income: 111284.33
State: CA, City: hamilton city, Average Income: 47707.0
State: CA, City: hanford, Average Income: 68252.33
State: CA, City: harbor city, Average Income: 68923.75
State: CA, City: hawaiian gardens, Average Income: 115804.0
State: CA, City: hawthorne, Average Income: 65463.0
State: CA, City: hayward, Average Income: 74699.0
State: CA, City: healdsburg, Average Income: 88532.33
State: CA, City: helendale, Average Income: 73676.0
State: CA, City: hemet, Average Income: 54605.33
State: CA, City: herald, Average Income: 105322.0
State: CA, City: hercules, Average Income: 108030.0
State: CA, City: herlong, Average Income: 123055.0
State: CA, City: hermosa beach, Average Income: 132479.0
State: CA, City: hesperia, Average Income: 55908.75
State: CA, City: highland, Average Income: 71572.25
State: CA, City: hillsborough, Average Income: 173210.0
State: CA, City: hilmar, Average Income: 90493.0
State: CA, City: hollister, Average Income: 86902.6
State: CA, City: hollywood, Average Income: 42480.0
State: CA, City: holtville, Average Income: 41460.0
State: CA, City: hoopa, Average Income: 42756.0
State: CA, City: hughson, Average Income: 74779.0
State: CA, City: huntington beach, Average Income: 99406.06
State: CA, City: huntington park, Average Income: 38400.0
State: CA, City: imperial, Average Income: 82874.0
State: CA, City: imperial beach, Average Income: 52337.67
State: CA, City: independence, Average Income: 64939.0
State: CA, City: indio, Average Income: 55105.8
State: CA, City: inglewood, Average Income: 54139.45
State: CA, City: inyokern, Average Income: 125966.0
State: CA, City: ione, Average Income: 67768.0
State: CA, City: irvine, Average Income: 94079.86
State: CA, City: ivanhoe, Average Income: 37270.0
State: CA, City: jackson, Average Income: 68022.0
State: CA, City: jamul, Average Income: 95223.0
State: CA, City: janesville, Average Income: 72742.0
State: CA, City: jurupa valley, Average Income: 68866.14
State: CA, City: kelseyville, Average Income: 61941.0
State: CA, City: kensington, Average Income: 141291.0
State: CA, City: kenwood, Average Income: 87850.5
State: CA, City: kerman, Average Income: 45548.0
State: CA, City: king city, Average Income: 68913.0
State: CA, City: kingsburg, Average Income: 124958.0
State: CA, City: knights ferry, Average Income: 73534.0
State: CA, City: la canada, Average Income: 164286.0
State: CA, City: la crescenta, Average Income: 101494.33
State: CA, City: la habra, Average Income: 81280.71
State: CA, City: la jolla, Average Income: 74553.25
State: CA, City: la mesa, Average Income: 63263.79
State: CA, City: la mirada, Average Income: 94684.0
State: CA, City: la puente, Average Income: 71689.9
State: CA, City: la quinta, Average Income: 61644.0
State: CA, City: la selva beach, Average Income: 115367.0
State: CA, City: ladera ranch, Average Income: 139229.25
State: CA, City: lafayette, Average Income: 157484.0
State: CA, City: laguna beach, Average Income: 82834.33
State: CA, City: laguna hills, Average Income: 65319.2
State: CA, City: laguna niguel, Average Income: 120875.14
State: CA, City: lake arrowhead, Average Income: 58456.8
State: CA, City: lake elsinore, Average Income: 49658.25
State: CA, City: lake forest, Average Income: 93905.0
State: CA, City: lake hughes, Average Income: 71766.0
State: CA, City: lake isabella, Average Income: 52875.0
State: CA, City: lake view terrace, Average Income: 45536.0
State: CA, City: lakeport, Average Income: 57078.0
State: CA, City: lakeside, Average Income: 94236.0
State: CA, City: lakewood, Average Income: 103878.0
State: CA, City: lamont, Average Income: 39654.0
State: CA, City: lancaster, Average Income: 52545.79
State: CA, City: larkspur, Average Income: 82393.0
State: CA, City: laton, Average Income: 50949.0
State: CA, City: lawndale, Average Income: 56150.25
State: CA, City: lebec, Average Income: 53093.33
State: CA, City: lemon grove, Average Income: 69245.0
State: CA, City: lemoore, Average Income: 72600.0
State: CA, City: lennox, Average Income: 42805.0
State: CA, City: lincoln, Average Income: 63590.33
State: CA, City: lindsay, Average Income: 48863.5
State: CA, City: litchfield, Average Income: 78642.0
State: CA, City: live oak, Average Income: 65852.0
State: CA, City: livermore, Average Income: 107116.11
State: CA, City: livingston, Average Income: 58644.5
State: CA, City: lockeford, Average Income: 89853.0
State: CA, City: lodi, Average Income: 80606.12
State: CA, City: loma linda, Average Income: 106524.0
State: CA, City: lomita, Average Income: 92814.67
State: CA, City: lompoc, Average Income: 64472.2
State: CA, City: long beach, Average Income: 73900.73
State: CA, City: loomis, Average Income: 102063.25
State: CA, City: los alamitos, Average Income: 96732.0
State: CA, City: los alamos, Average Income: 87715.5
State: CA, City: los altos, Average Income: 165306.8
State: CA, City: los angeles, Average Income: 61724.56
State: CA, City: los banos, Average Income: 54495.0
State: CA, City: los gatos, Average Income: 126043.0
State: CA, City: los olivos, Average Income: 130078.0
State: CA, City: los osos, Average Income: 74235.5
State: CA, City: lost hills, Average Income: 36199.0
State: CA, City: lucerne valley, Average Income: 40260.0
State: CA, City: lynwood, Average Income: 41161.4
State: CA, City: madera, Average Income: 54237.86
State: CA, City: magalia, Average Income: 49279.0
State: CA, City: mammoth lakes, Average Income: 75375.0
State: CA, City: manhattan beach, Average Income: 162495.25
State: CA, City: manteca, Average Income: 59583.5
State: CA, City: manton, Average Income: 51540.0
State: CA, City: marina, Average Income: 54805.0
State: CA, City: marina del rey, Average Income: 129091.0
State: CA, City: martinez, Average Income: 81559.4
State: CA, City: marysville, Average Income: 52172.0
State: CA, City: mather, Average Income: 106418.0
State: CA, City: maywood, Average Income: 37726.67
State: CA, City: mcarthur, Average Income: 62566.0
State: CA, City: mcfarland, Average Income: 41606.0
State: CA, City: mckinleyville, Average Income: 51618.0
State: CA, City: mckittrick, Average Income: 64762.0
State: CA, City: meadow vista, Average Income: 104362.5
State: CA, City: mendota, Average Income: 40404.0
State: CA, City: menifee, Average Income: 80746.5
State: CA, City: menlo park, Average Income: 146571.5
State: CA, City: merced, Average Income: 45038.82
State: CA, City: midway city, Average Income: 74240.0
State: CA, City: mill valley, Average Income: 108020.0
State: CA, City: millbrae, Average Income: 107565.0
State: CA, City: milpitas, Average Income: 119131.6
State: CA, City: mission hills, Average Income: 84635.0
State: CA, City: mission viejo, Average Income: 128766.0
State: CA, City: modesto, Average Income: 58324.9
State: CA, City: monrovia, Average Income: 75942.25
State: CA, City: montague, Average Income: 51585.0
State: CA, City: montclair, Average Income: 57209.67
State: CA, City: monte rio, Average Income: 51503.0
State: CA, City: montebello, Average Income: 53451.67
State: CA, City: monterey, Average Income: 59392.0
State: CA, City: monterey park, Average Income: 75413.17
State: CA, City: moorpark, Average Income: 125805.67
State: CA, City: moraga, Average Income: 171929.0
State: CA, City: moreno valley, Average Income: 60341.64
State: CA, City: morgan hill, Average Income: 95157.75
State: CA, City: morro bay, Average Income: 49203.0
State: CA, City: mountain view, Average Income: 112980.67
State: CA, City: mt. baldy, Average Income: 76889.0
State: CA, City: murrieta, Average Income: 75272.86
State: CA, City: napa, Average Income: 96176.91
State: CA, City: national city, Average Income: 53709.0
State: CA, City: nevada city, Average Income: 84697.0
State: CA, City: new pine creek, Average Income: 39439.0
State: CA, City: newark, Average Income: 85735.0
State: CA, City: newbury park, Average Income: 111982.0

[{'state': 'CA', 'city': 'adelanto', 'Average Income': 36944.0},
 {'state': 'CA', 'city': 'agoura', 'Average Income': 140704.0},
 {'state': 'CA', 'city': 'agoura hills', 'Average Income': 182475.0},
 {'state': 'CA', 'city': 'agua dulce', 'Average Income': 91975.0},
 {'state': 'CA', 'city': 'aguanga', 'Average Income': 64425.0},
 {'state': 'CA', 'city': 'alameda', 'Average Income': 89726.38},
 {'state': 'CA', 'city': 'albany', 'Average Income': 98633.0},
 {'state': 'CA', 'city': 'alhambra', 'Average Income': 75486.22},
 {'state': 'CA', 'city': 'aliso viejo', 'Average Income': 90167.0},
 {'state': 'CA', 'city': 'alpine', 'Average Income': 91662.0},
 {'state': 'CA', 'city': 'alta', 'Average Income': 64090.67},
 {'state': 'CA', 'city': 'alta loma', 'Average Income': 98738.17},
 {'state': 'CA', 'city': 'altadena', 'Average Income': 88514.0},
 {'state': 'CA', 'city': 'alviso', 'Average Income': 87293.0},
 {'state': 'CA', 'city': 'anaheim', 'Average Income': 72411.0},
 {'state': 'CA', 'city': 'anderson', 'Average Income': 56644.0},
 {'state': 'CA', 'city': 'angwin', 'Average Income': 79252.0},
 {'state': 'CA', 'city': 'antelope', 'Average Income': 71078.0},
 {'state': 'CA', 'city': 'antioch', 'Average Income': 60612.5},
 {'state': 'CA', 'city': 'anza', 'Average Income': 67770.0},
 {'state': 'CA', 'city': 'apple valley', 'Average Income': 62031.4},
 {'state': 'CA', 'city': 'aptos', 'Average Income': 72422.4},
 {'state': 'CA', 'city': 'arcadia', 'Average Income': 82843.6},
 {'state': 'CA', 'city': 'arcata', 'Average Income': 40289.0},
 {'state': 'CA', 'city': 'arleta', 'Average Income': 68519.0},
 {'state': 'CA', 'city': 'arroyo grande', 'Average Income': 76230.67},
 {'state': 'CA', 'city': 'artesia', 'Average Income': 76899.0},
 {'state': 'CA', 'city': 'arvin', 'Average Income': 53026.0},
 {'state': 'CA', 'city': 'atascadero', 'Average Income': 62049.0},
 {'state': 'CA', 'city': 'atherton', 'Average Income': 149965.0},
 {'state': 'CA', 'city': 'atwater', 'Average Income': 63003.5},
 {'state': 'CA', 'city': 'auburn', 'Average Income': 89314.67},
 {'state': 'CA', 'city': 'avalon', 'Average Income': 76075.0},
 {'state': 'CA', 'city': 'avenal', 'Average Income': 0.0},
 {'state': 'CA', 'city': 'avery', 'Average Income': 95870.67},
 {'state': 'CA', 'city': 'azusa', 'Average Income': 62324.4},
 {'state': 'CA', 'city': 'bakersfield', 'Average Income': 59350.87},
 {'state': 'CA', 'city': 'baldwin park', 'Average Income': 61803.67},
 {'state': 'CA', 'city': 'banning', 'Average Income': 28743.0},
 {'state': 'CA', 'city': 'barstow', 'Average Income': 50790.33},
 {'state': 'CA', 'city': 'bay point', 'Average Income': 78622.5},
 {'state': 'CA', 'city': 'beale afb', 'Average Income': 32499.0},
 {'state': 'CA', 'city': 'beaumont', 'Average Income': 53361.25},
 {'state': 'CA', 'city': 'bell', 'Average Income': 47286.0},
 {'state': 'CA', 'city': 'bell gardens', 'Average Income': 54055.0},
 {'state': 'CA', 'city': 'bella vista', 'Average Income': 64201.0},
 {'state': 'CA', 'city': 'bellflower', 'Average Income': 72411.44},
 {'state': 'CA', 'city': 'belmont', 'Average Income': 86987.0},
 {'state': 'CA', 'city': 'ben lomond', 'Average Income': 83248.0},
 {'state': 'CA', 'city': 'benicia', 'Average Income': 89735.67},
 {'state': 'CA', 'city': 'benton', 'Average Income': 72792.0},
 {'state': 'CA', 'city': 'berkeley', 'Average Income': 103222.1},
 {'state': 'CA', 'city': 'bermuda dunes', 'Average Income': 77483.0},
 {'state': 'CA', 'city': 'berry creek', 'Average Income': 52817.0},
 {'state': 'CA', 'city': 'beverly hills', 'Average Income': 111655.67},
 {'state': 'CA', 'city': 'bieber', 'Average Income': 54602.0},
 {'state': 'CA', 'city': 'big bear lake', 'Average Income': 57474.0},
 {'state': 'CA', 'city': 'big bend', 'Average Income': 29530.0},
 {'state': 'CA', 'city': 'big creek', 'Average Income': 91840.0},
 {'state': 'CA', 'city': 'bishop', 'Average Income': 91625.0},
 {'state': 'CA', 'city': 'blocksburg', 'Average Income': 24830.0},
 {'state': 'CA', 'city': 'bloomington', 'Average Income': 58987.5},
 {'state': 'CA', 'city': 'blythe', 'Average Income': 51489.0},
 {'state': 'CA', 'city': 'bodega bay', 'Average Income': 32499.0},
 {'state': 'CA', 'city': 'bolinas', 'Average Income': 50086.5},
 {'state': 'CA', 'city': 'bonita', 'Average Income': 101129.0},
 {'state': 'CA', 'city': 'bonsall', 'Average Income': 74199.0},
 {'state': 'CA', 'city': 'borrego springs', 'Average Income': 41547.0},
 {'state': 'CA', 'city': 'brawley', 'Average Income': 70244.67},
 {'state': 'CA', 'city': 'brea', 'Average Income': 73237.33},
 {'state': 'CA', 'city': 'brentwood', 'Average Income': 106513.5},
 {'state': 'CA', 'city': 'bridgeville', 'Average Income': 39819.67},
 {'state': 'CA', 'city': 'buellton', 'Average Income': 80327.0},
 {'state': 'CA', 'city': 'buena park', 'Average Income': 75758.2},
 {'state': 'CA', 'city': 'burbank', 'Average Income': 73593.4},
 {'state': 'CA', 'city': 'burlingame', 'Average Income': 147438.5},
 {'state': 'CA', 'city': 'byron', 'Average Income': 86367.0},
 {'state': 'CA', 'city': 'calabasas', 'Average Income': 151185.0},
 {'state': 'CA', 'city': 'calexico', 'Average Income': 55842.5},
 {'state': 'CA', 'city': 'california city', 'Average Income': 49125.67},
 {'state': 'CA', 'city': 'calimesa', 'Average Income': 61578.0},
 {'state': 'CA', 'city': 'calistoga', 'Average Income': 88175.0},
 {'state': 'CA', 'city': 'camarillo', 'Average Income': 92316.0},
 {'state': 'CA', 'city': 'cambria', 'Average Income': 78162.0},
 {'state': 'CA', 'city': 'cameron park', 'Average Income': 122054.0},
 {'state': 'CA', 'city': 'campbell', 'Average Income': 111889.14},
 {'state': 'CA', 'city': 'camptonville', 'Average Income': 45763.0},
 {'state': 'CA', 'city': 'canby', 'Average Income': 40613.0},
 {'state': 'CA', 'city': 'canoga park', 'Average Income': 74876.71},
 {'state': 'CA', 'city': 'canyon country', 'Average Income': 93745.0},
 {'state': 'CA', 'city': 'capistrano beach', 'Average Income': 90785.0},
 {'state': 'CA', 'city': 'capitola', 'Average Income': 87396.0},
 {'state': 'CA', 'city': 'cardiff-by-the-sea', 'Average Income': 115526.0},
 {'state': 'CA', 'city': 'carlsbad', 'Average Income': 100168.71},
 {'state': 'CA', 'city': 'carmel', 'Average Income': 103464.0},
 {'state': 'CA', 'city': 'carmel valley', 'Average Income': 73412.0},
 {'state': 'CA', 'city': 'carmichael', 'Average Income': 67756.14},
 {'state': 'CA', 'city': 'carpinteria', 'Average Income': 88344.0},
 {'state': 'CA', 'city': 'carson', 'Average Income': 63984.0},
 {'state': 'CA', 'city': 'castaic', 'Average Income': 64217.0},
 {'state': 'CA', 'city': 'castro valley', 'Average Income': 96963.75},
 {'state': 'CA', 'city': 'castroville', 'Average Income': 63343.0},
 {'state': 'CA', 'city': 'cathedral city', 'Average Income': 55176.0},
 {'state': 'CA', 'city': 'catheys valley', 'Average Income': 69566.0},
 {'state': 'CA', 'city': 'cazadero', 'Average Income': 60396.5},
 {'state': 'CA', 'city': 'ceres', 'Average Income': 60523.5},
 {'state': 'CA', 'city': 'cerritos', 'Average Income': 92139.67},
 {'state': 'CA', 'city': 'challenge', 'Average Income': 40214.0},
 {'state': 'CA', 'city': 'chatsworth', 'Average Income': 88913.25},
 {'state': 'CA', 'city': 'chester', 'Average Income': 97160.5},
 {'state': 'CA', 'city': 'chico', 'Average Income': 79356.4},
 {'state': 'CA', 'city': 'chino', 'Average Income': 89300.92},
 {'state': 'CA', 'city': 'chino hills', 'Average Income': 59836.0},
 {'state': 'CA', 'city': 'chowchilla', 'Average Income': 44473.67},
 {'state': 'CA', 'city': 'chula vista', 'Average Income': 77633.41},
 {'state': 'CA', 'city': 'citrus heights', 'Average Income': 55089.75},
 {'state': 'CA', 'city': 'city of industry', 'Average Income': 72912.0},
 {'state': 'CA', 'city': 'claremont', 'Average Income': 80489.0},
 {'state': 'CA', 'city': 'clayton', 'Average Income': 119428.5},
 {'state': 'CA', 'city': 'clearlake', 'Average Income': 41732.0},
 {'state': 'CA', 'city': 'clearlake oaks', 'Average Income': 46508.0},
 {'state': 'CA', 'city': 'cloverdale', 'Average Income': 65845.0},
 {'state': 'CA', 'city': 'clovis', 'Average Income': 68761.0},
 {'state': 'CA', 'city': 'coachella', 'Average Income': 42170.5},
 {'state': 'CA', 'city': 'coalinga', 'Average Income': 95126.0},
 {'state': 'CA', 'city': 'colfax', 'Average Income': 62241.0},
 {'state': 'CA', 'city': 'colma', 'Average Income': 86745.5},
 {'state': 'CA', 'city': 'colton', 'Average Income': 46271.2},
 {'state': 'CA', 'city': 'compton', 'Average Income': 52853.5},
 {'state': 'CA', 'city': 'concord', 'Average Income': 88914.77},
 {'state': 'CA', 'city': 'cool', 'Average Income': 93996.0},
 {'state': 'CA', 'city': 'corcoran', 'Average Income': 48378.0},
 {'state': 'CA', 'city': 'corning', 'Average Income': 42098.5},
 {'state': 'CA', 'city': 'corona', 'Average Income': 86253.71},
 {'state': 'CA', 'city': 'coronado', 'Average Income': 109138.0},
 {'state': 'CA', 'city': 'corte madera', 'Average Income': 153399.0},
 {'state': 'CA', 'city': 'costa mesa', 'Average Income': 109889.73},
 {'state': 'CA', 'city': 'cotati', 'Average Income': 46420.0},
 {'state': 'CA', 'city': 'coto de caza', 'Average Income': 156168.0},
 {'state': 'CA', 'city': 'cottonwood', 'Average Income': 61149.33},
 {'state': 'CA', 'city': 'coulterville', 'Average Income': 63827.0},
 {'state': 'CA', 'city': 'covina', 'Average Income': 83829.57},
 {'state': 'CA', 'city': 'crescent city', 'Average Income': 57953.0},
 {'state': 'CA', 'city': 'creston', 'Average Income': 80023.0},
 {'state': 'CA', 'city': 'crockett', 'Average Income': 89975.0},
 {'state': 'CA', 'city': 'cudahy', 'Average Income': 46995.25},
 {'state': 'CA', 'city': 'culver city', 'Average Income': 115271.5},
 {'state': 'CA', 'city': 'cupertino', 'Average Income': 151270.83},
 {'state': 'CA', 'city': 'cypress', 'Average Income': 163746.5},
 {'state': 'CA', 'city': 'daly city', 'Average Income': 101587.57},
 {'state': 'CA', 'city': 'dana point', 'Average Income': 99085.0},
 {'state': 'CA', 'city': 'danville', 'Average Income': 143481.0},
 {'state': 'CA', 'city': 'davis', 'Average Income': 72537.8},
 {'state': 'CA', 'city': 'del mar', 'Average Income': 131231.0},
 {'state': 'CA', 'city': 'delano', 'Average Income': 29954.0},
 {'state': 'CA', 'city': 'denair', 'Average Income': 105985.0},
 {'state': 'CA', 'city': 'desert hot springs', 'Average Income': 45601.5},
 {'state': 'CA', 'city': 'diamond bar', 'Average Income': 96565.0},
 {'state': 'CA', 'city': 'dinuba', 'Average Income': 56137.0},
 {'state': 'CA', 'city': 'dixon', 'Average Income': 74476.5},
 {'state': 'CA', 'city': 'dos palos', 'Average Income': 55580.5},
 {'state': 'CA', 'city': 'downey', 'Average Income': 83078.19},
 {'state': 'CA', 'city': 'downieville', 'Average Income': 21163.0},
 {'state': 'CA', 'city': 'duarte', 'Average Income': 77921.25},
 {'state': 'CA', 'city': 'dublin', 'Average Income': 110983.5},
 {'state': 'CA', 'city': 'ducor', 'Average Income': 31274.0},
 {'state': 'CA', 'city': 'dunsmuir', 'Average Income': 45774.0},
 {'state': 'CA', 'city': 'earlimart', 'Average Income': 37464.0},
 {'state': 'CA', 'city': 'east palo alto', 'Average Income': 59653.0},
 {'state': 'CA', 'city': 'eastvale', 'Average Income': 113676.0},
 {'state': 'CA', 'city': 'edgewood', 'Average Income': 53251.0},
 {'state': 'CA', 'city': 'el cajon', 'Average Income': 77735.25},
 {'state': 'CA', 'city': 'el centro', 'Average Income': 44411.5},
 {'state': 'CA', 'city': 'el cerrito', 'Average Income': 91020.75},
 {'state': 'CA', 'city': 'el dorado hills', 'Average Income': 151688.33},
 {'state': 'CA', 'city': 'el monte', 'Average Income': 58231.64},
 {'state': 'CA', 'city': 'el segundo', 'Average Income': 107331.0},
 {'state': 'CA', 'city': 'elk creek', 'Average Income': 53148.0},
 {'state': 'CA', 'city': 'elk grove', 'Average Income': 89429.4},
 {'state': 'CA', 'city': 'emeryville', 'Average Income': 61154.0},
 {'state': 'CA', 'city': 'encinitas', 'Average Income': 117298.5},
 {'state': 'CA', 'city': 'encino', 'Average Income': 97549.4},
 {'state': 'CA', 'city': 'escalon', 'Average Income': 55907.0},
 {'state': 'CA', 'city': 'escondido', 'Average Income': 73626.07},
 {'state': 'CA', 'city': 'esparto', 'Average Income': 83250.0},
 {'state': 'CA', 'city': 'eureka', 'Average Income': 65540.71},
 {'state': 'CA', 'city': 'exeter', 'Average Income': 79757.0},
 {'state': 'CA', 'city': 'fair oaks', 'Average Income': 104319.75},
 {'state': 'CA', 'city': 'fairfield', 'Average Income': 73944.89},
 {'state': 'CA', 'city': 'fall river mills', 'Average Income': 63828.0},
 {'state': 'CA', 'city': 'fallbrook', 'Average Income': 63353.33},
 {'state': 'CA', 'city': 'fillmore', 'Average Income': 66371.0},
 {'state': 'CA', 'city': 'firebaugh', 'Average Income': 59164.0},
 {'state': 'CA', 'city': 'five points', 'Average Income': 29663.0},
 {'state': 'CA', 'city': 'flournoy', 'Average Income': 55519.0},
 {'state': 'CA', 'city': 'folsom', 'Average Income': 94830.17},
 {'state': 'CA', 'city': 'fontana', 'Average Income': 58646.38},
 {'state': 'CA', 'city': 'forest falls', 'Average Income': 75910.0},
 {'state': 'CA', 'city': 'forestville', 'Average Income': 88066.0},
 {'state': 'CA', 'city': 'fort bragg', 'Average Income': 44250.33},
 {'state': 'CA', 'city': 'fort dick', 'Average Income': 65856.0},
 {'state': 'CA', 'city': 'fortuna', 'Average Income': 68994.0},
 {'state': 'CA', 'city': 'foster city', 'Average Income': 128534.33},
 {'state': 'CA', 'city': 'fountain valley', 'Average Income': 99421.75},
 {'state': 'CA', 'city': 'fowler', 'Average Income': 68012.0},
 {'state': 'CA', 'city': 'freedom', 'Average Income': 29985.0},
 {'state': 'CA', 'city': 'fremont', 'Average Income': 112430.47},
 {'state': 'CA', 'city': 'fresno', 'Average Income': 57730.15},
 {'state': 'CA', 'city': 'fullerton', 'Average Income': 79418.55},
 {'state': 'CA', 'city': 'galt', 'Average Income': 62077.0},
 {'state': 'CA', 'city': 'garden grove', 'Average Income': 68785.67},
 {'state': 'CA', 'city': 'gardena', 'Average Income': 62308.86},
 {'state': 'CA', 'city': 'gilroy', 'Average Income': 82760.6},
 {'state': 'CA', 'city': 'glen ellen', 'Average Income': 115139.0},
 {'state': 'CA', 'city': 'glendale', 'Average Income': 78447.12},
 {'state': 'CA', 'city': 'glendora', 'Average Income': 88983.12},
 {'state': 'CA', 'city': 'gold river', 'Average Income': 143292.0},
 {'state': 'CA', 'city': 'goleta', 'Average Income': 64325.2},
 {'state': 'CA', 'city': 'granada hills', 'Average Income': 95490.0},
 {'state': 'CA', 'city': 'grand terrace', 'Average Income': 57997.33},
 {'state': 'CA', 'city': 'granite bay', 'Average Income': 132808.0},
 {'state': 'CA', 'city': 'grass valley', 'Average Income': 68782.25},
 {'state': 'CA', 'city': 'greenfield', 'Average Income': 48881.0},
 {'state': 'CA', 'city': 'greenville', 'Average Income': 32933.33},
 {'state': 'CA', 'city': 'gridley', 'Average Income': 69574.0},
 {'state': 'CA', 'city': 'grizzly flat', 'Average Income': 80195.0},
 {'state': 'CA', 'city': 'grover beach', 'Average Income': 56701.0},
 {'state': 'CA', 'city': 'guadalupe', 'Average Income': 52410.0},
 {'state': 'CA', 'city': 'guerneville', 'Average Income': 61728.0},
 {'state': 'CA', 'city': 'gustine', 'Average Income': 46245.0},
 {'state': 'CA', 'city': 'hacienda heights', 'Average Income': 103234.25},
 {'state': 'CA', 'city': 'half moon bay', 'Average Income': 111284.33},
 {'state': 'CA', 'city': 'hamilton city', 'Average Income': 47707.0},
 {'state': 'CA', 'city': 'hanford', 'Average Income': 68252.33},
 {'state': 'CA', 'city': 'harbor city', 'Average Income': 68923.75},
 {'state': 'CA', 'city': 'hawaiian gardens', 'Average Income': 115804.0},
 {'state': 'CA', 'city': 'hawthorne', 'Average Income': 65463.0},
 {'state': 'CA', 'city': 'hayward', 'Average Income': 74699.0},
 {'state': 'CA', 'city': 'healdsburg', 'Average Income': 88532.33},
 {'state': 'CA', 'city': 'helendale', 'Average Income': 73676.0},
 {'state': 'CA', 'city': 'hemet', 'Average Income': 54605.33},
 {'state': 'CA', 'city': 'herald', 'Average Income': 105322.0},
 {'state': 'CA', 'city': 'hercules', 'Average Income': 108030.0},
 {'state': 'CA', 'city': 'herlong', 'Average Income': 123055.0},
 {'state': 'CA', 'city': 'hermosa beach', 'Average Income': 132479.0},
 {'state': 'CA', 'city': 'hesperia', 'Average Income': 55908.75},
 {'state': 'CA', 'city': 'highland', 'Average Income': 71572.25},
 {'state': 'CA', 'city': 'hillsborough', 'Average Income': 173210.0},
 {'state': 'CA', 'city': 'hilmar', 'Average Income': 90493.0},
 {'state': 'CA', 'city': 'hollister', 'Average Income': 86902.6},
 {'state': 'CA', 'city': 'hollywood', 'Average Income': 42480.0},
 {'state': 'CA', 'city': 'holtville', 'Average Income': 41460.0},
 {'state': 'CA', 'city': 'hoopa', 'Average Income': 42756.0},
 {'state': 'CA', 'city': 'hughson', 'Average Income': 74779.0},
 {'state': 'CA', 'city': 'huntington beach', 'Average Income': 99406.06},
 {'state': 'CA', 'city': 'huntington park', 'Average Income': 38400.0},
 {'state': 'CA', 'city': 'imperial', 'Average Income': 82874.0},
 {'state': 'CA', 'city': 'imperial beach', 'Average Income': 52337.67},
 {'state': 'CA', 'city': 'independence', 'Average Income': 64939.0},
 {'state': 'CA', 'city': 'indio', 'Average Income': 55105.8},
 {'state': 'CA', 'city': 'inglewood', 'Average Income': 54139.45},
 {'state': 'CA', 'city': 'inyokern', 'Average Income': 125966.0},
 {'state': 'CA', 'city': 'ione', 'Average Income': 67768.0},
 {'state': 'CA', 'city': 'irvine', 'Average Income': 94079.86},
 {'state': 'CA', 'city': 'ivanhoe', 'Average Income': 37270.0},
 {'state': 'CA', 'city': 'jackson', 'Average Income': 68022.0},
 {'state': 'CA', 'city': 'jamul', 'Average Income': 95223.0},
 {'state': 'CA', 'city': 'janesville', 'Average Income': 72742.0},
 {'state': 'CA', 'city': 'jurupa valley', 'Average Income': 68866.14},
 {'state': 'CA', 'city': 'kelseyville', 'Average Income': 61941.0},
 {'state': 'CA', 'city': 'kensington', 'Average Income': 141291.0},
 {'state': 'CA', 'city': 'kenwood', 'Average Income': 87850.5},
 {'state': 'CA', 'city': 'kerman', 'Average Income': 45548.0},
 {'state': 'CA', 'city': 'king city', 'Average Income': 68913.0},
 {'state': 'CA', 'city': 'kingsburg', 'Average Income': 124958.0},
 {'state': 'CA', 'city': 'knights ferry', 'Average Income': 73534.0},
 {'state': 'CA', 'city': 'la canada', 'Average Income': 164286.0},
 {'state': 'CA', 'city': 'la crescenta', 'Average Income': 101494.33},
 {'state': 'CA', 'city': 'la habra', 'Average Income': 81280.71},
 {'state': 'CA', 'city': 'la jolla', 'Average Income': 74553.25},
 {'state': 'CA', 'city': 'la mesa', 'Average Income': 63263.79},
 {'state': 'CA', 'city': 'la mirada', 'Average Income': 94684.0},
 {'state': 'CA', 'city': 'la puente', 'Average Income': 71689.9},
 {'state': 'CA', 'city': 'la quinta', 'Average Income': 61644.0},
 {'state': 'CA', 'city': 'la selva beach', 'Average Income': 115367.0},
 {'state': 'CA', 'city': 'ladera ranch', 'Average Income': 139229.25},
 {'state': 'CA', 'city': 'lafayette', 'Average Income': 157484.0},
 {'state': 'CA', 'city': 'laguna beach', 'Average Income': 82834.33},
 {'state': 'CA', 'city': 'laguna hills', 'Average Income': 65319.2},
 {'state': 'CA', 'city': 'laguna niguel', 'Average Income': 120875.14},
 {'state': 'CA', 'city': 'lake arrowhead', 'Average Income': 58456.8},
 {'state': 'CA', 'city': 'lake elsinore', 'Average Income': 49658.25},
 {'state': 'CA', 'city': 'lake forest', 'Average Income': 93905.0},
 {'state': 'CA', 'city': 'lake hughes', 'Average Income': 71766.0},
 {'state': 'CA', 'city': 'lake isabella', 'Average Income': 52875.0},
 {'state': 'CA', 'city': 'lake view terrace', 'Average Income': 45536.0},
 {'state': 'CA', 'city': 'lakeport', 'Average Income': 57078.0},
 {'state': 'CA', 'city': 'lakeside', 'Average Income': 94236.0},
 {'state': 'CA', 'city': 'lakewood', 'Average Income': 103878.0},
 {'state': 'CA', 'city': 'lamont', 'Average Income': 39654.0},
 {'state': 'CA', 'city': 'lancaster', 'Average Income': 52545.79},

In [20]:
income_df = pd.DataFrame(extracted_income)
income_df

     state          city  Average Income
0       CA      adelanto         36944.0
1       CA        agoura        140704.0
2       CA  agoura hills        182475.0
3       CA    agua dulce         91975.0
4       CA       aguanga         64425.0
...    ...           ...             ...
8597    LA     winnfield         38288.0
8598    LA     winnsboro         22506.0
8599    LA   youngsville        103089.5
8600    LA       zachary         79647.0
8601    LA        zwolle         34639.0

[8602 rows x 3 columns]

In [21]:
pricingincome_data = housing_df.merge(income_df, how="inner", on=["state","city"])
pricingincome_data.head()

print(len(pricingincome_data))

1493

# clean up locations data to merge with other dataframes

In [22]:
locationsData.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36081,Queens,40.6943,-73.9249,18908608,11080.3,shape,False,True,America/New_York,1,11229 11228 11226 11225 11224 11222 11221 1122...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,11922389,3184.7,shape,False,True,America/Los_Angeles,1,91367 90291 90293 90292 91316 91311 90035 9003...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8375,-87.6866,8497759,4614.5,shape,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7840,-80.2101,6080145,4758.9,shape,False,True,America/New_York,1,33128 33129 33125 33126 33127 33149 33144 3314...,1840015149
4,Houston,Houston,TX,Texas,48201,Harris,29.7860,-95.3885,5970127,1384.0,shape,False,True,America/Chicago,1,77069 77068 77061 77060 77063 77062 77065 7706...,1840020925

In [23]:
locationsData.columns

Index(['city', 'city_ascii', 'state_id', 'state_name', 'county_fips',
       'county_name', 'lat', 'lng', 'population', 'density', 'source',
       'military', 'incorporated', 'timezone', 'ranking', 'zips', 'id'],
      dtype='object')

In [24]:
locationsData = pd.DataFrame(locationsData)

In [25]:
locationsData.rename(columns={'state_id': 'state'}, inplace=True)

locationsData.head()

,city,city_ascii,state,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36081,Queens,40.6943,-73.9249,18908608,11080.3,shape,False,True,America/New_York,1,11229 11228 11226 11225 11224 11222 11221 1122...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,11922389,3184.7,shape,False,True,America/Los_Angeles,1,91367 90291 90293 90292 91316 91311 90035 9003...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8375,-87.6866,8497759,4614.5,shape,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7840,-80.2101,6080145,4758.9,shape,False,True,America/New_York,1,33128 33129 33125 33126 33127 33149 33144 3314...,1840015149
4,Houston,Houston,TX,Texas,48201,Harris,29.7860,-95.3885,5970127,1384.0,shape,False,True,America/Chicago,1,77069 77068 77061 77060 77063 77062 77065 7706...,1840020925

In [26]:
# isolate state, city, lat, lng to merge with the combined dataframe

location_selection = locationsData[["state_name","state","city","lat","lng"]]

location_selection["city_lower"] = location_selection["city"].str.lower()


# Update the city names in the original DataFrame using .loc
location_selection["city"] = location_selection["city_lower"]


# Drop the temporary "city_lower" column
location_selection.drop(columns=["city_lower"], inplace=True)


location_selection.head()

C:\Users\user\AppData\Local\Temp\ipykernel_8860\2392851844.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  location_selection["city_lower"] = location_selection["city"].str.lower()
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2392851844.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  location_selection["city"] = location_selection["city_lower"]
C:\Users\user\AppData\Local\Temp\ipykernel_8860\2392851844.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  location_selection.drop(columns=["city_lower"], inplace=True)

   state_name state         city      lat       lng
0    New York    NY     new york  40.6943  -73.9249
1  California    CA  los angeles  34.1141 -118.4068
2    Illinois    IL      chicago  41.8375  -87.6866
3     Florida    FL        miami  25.7840  -80.2101
4       Texas    TX      houston  29.7860  -95.3885

In [31]:
merged_data = pricingincome_data.merge(location_selection, how="inner", on=["state","city"])
merged_data.head()

print(len(merged_data))

1382

In [32]:
json_data = merged_data.to_json(orient='records', indent=4)

# Specify the file path where you want to save the JSON file
output_merged_path = "incomevsprice.json"

# Write the JSON data to a file
with open(output_merged_path, 'w') as file:
    file.write(json_data)